[2022-01-19 03:36] ptillet commented on #433
Very good catch! I have this fixed internally in a branch I'm probably gonna merge tomorrow or a day after (along with other fixes). I'll let you know! If you're curious, I fixed it by changing the definition of `shape` in the  constructor of `triton.language.core.block`.

[2022-01-19 22:00] andreaskoepf opened #434 "IndexError: map::at"
Got an `IndexError: map::at` (with both v1 & v2 branch). I will update this issue as I better understand the inner workings of triton.  [Hints on how to best find the cause would be nice.]

Debugging in v2 branch I see:

- Exception is thrown in `generator::init_idx(ir::value *v)` [generator.cc#L2781](https://github.com/openai/triton/blob/e0c5709cc8119d4b1b1c334b2d1c0923001da4c4/lib/codegen/select

[2022-01-19 22:04] madeleineth commented on #434
Is your source something you could share?

[2022-01-19 22:11] andreaskoepf commented on #434
Yes, I was working on a local 3d attention kernel .. but it still is very much WIP, to reproduce you can simple run it: https://gist.github.com/andreaskoepf/b79e7b7f403537cf4cd815cb82d39f88

[2022-01-19 23:47] andreaskoepf commented on #434
IR dump of the kernel:
[code]

[2022-01-19 23:58] antoine-dedieu opened #435 "Loading does not properly work without mask for BLOCK_SIZE < 128"
Hi,
I am playing with the following example where I compute the maximum value of the rows of a matrix X of size 16 x BLOCK_SIZE where BLOCK_SIZE is a power of 2 progressively increased.
This can be run in parallel across rows: each thread loads all the entires of a row then compute the maximum.
For some reason, when BLOCK_SIZE < 128, if I simply try to run the code below, the operation won't work.

[2022-01-20 02:07] ptillet commented on #434
I'll take a look. Thanks!

[2022-01-21 23:06] andreaskoepf commented on #434
@ptillet a question about `a_axes` vs. axes stord in layouts ..
e.g. in `generator::visit_fmadot()` why is it necessary to use

https://github.com/openai/triton/blob/6f7acad48fd94384f5b1fe0148e2c7f584a6aefd/lib/codegen/selection/generator.cc#L1628-L1629

instead of using the info directly from the layout, e.g.:
[code]

I noticed in `init_idx()` that the `axes_.at(x)` fails when `a_axes_->get(v, d)

[2022-01-21 23:22] andreaskoepf commented on #434
If I take the layout infos instead of the a_axes_ the compile failes with a `triton.code_gen.OutOfResources: (66048, 49152, 'shared memory')` .. which IMO sounds not too unreasonable .. and if I reduce the block_size from 64 to 32 it even compiles and runs without crashing (have not checked the output).

BTW I think it would be very helpful have some access to device limits via the public API (e.g

[2022-01-21 23:45] andreaskoepf opened #437 "[minor] add arg range check to triton.next_power_of_2()"
The neat bit-fiddling helper function `triton.next_power_of_2()` works fine for all numbers up to 2^32 (intentional internal limit), e.g. `assert(triton.next_power_of_2(2**32+1) == triton.next_power_of_2(2**32+2))` fails.

https://github.com/openai/triton/blob/6f7acad48fd94384f5b1fe0148e2c7f584a6aefd/python/triton/code_gen.py#L957-L966

An argument range check of the `n` parameter should be added

[2022-01-26 13:23] tobiasrst commented on #237
I also ran into this issue today, specifically when using the `sdd` mode. `dsd` and `dds` seem to work fine

[2022-01-26 17:24] ptillet commented on #237
@tobiasrst  Unfortunately, this seems to be a bug in some CUDA compilers. If you upgrade to 11.5 you shouldn't have this problem anymore I believe

[2022-01-26 22:22] antoine-dedieu opened #441 "Kernels crashes under 1.1.1 (while running under 1.1.0) + seems formatting specific"
Hi,
I have implemented the following kernel in Triton. It considers a flat array of 0s, accesses blocks of values, sums across the columns and stores the result.
I am experiencing two issues that I cannot understand under Triton 1.1.1

(1) The code below runs fine under Triton 1.1.0. However, it crashes under the 1.1.1 version. <br />
The error message is `CUDA: Error- misaligned address`.

(2)Tri

[2022-01-26 22:34] ptillet commented on #441
It seems like this is an issue in the vectorization engine of Triton. I just tried with v2.0 and couldn't see the issue. Could you install Triton v2 from source and see whether it solves the issue?

[2022-01-28 00:13] andyljones opened #443 "Segfault in dds_matmul"
We've run into a segfault in `dds_matmul`. It's a rare one, but reliably reproduced under cuda-memcheck.

### Repro
This is not an ideal repro, but I've had a day full of heisenbug misery trying to give you anything more succinct. Trying to capture the block_mask from the forward pass so that the ctx can be constructed from scratch seems to perturb some timing or memory thing enough that the bug d

[2022-01-28 01:13] ptillet commented on #443
Oh! Thanks for the repro. This is surely a problem in Triton. I look forward to look into it :) But I would indeed appreciate some sort of numpy-based repro :sweat_smile: Also feel free to bring up this bug on slack -- it seems quite critical.

[2022-01-28 02:13] andyljones commented on #443
Transcribed it into a numpy-based repro 👍. Thanks for the fast response, and I've joined the Slack now so feel free to ping me if you have any trouble repro'ing.

[2022-01-28 19:50] ptillet commented on #443
Thanks! Taking a look this afternoon!

[2022-01-30 04:33] ptillet commented on #443
Solved in #445 . Thanks a lot for the report!

[2022-01-30 04:33] #443 closed

[2022-02-08 02:03] antoine-dedieu commented on #441
Thanks @ptillet for your answer. After installing triton 2.0.0 via `pip install triton==2.0.0.dev20220206` I still run into the format-specific issue (2) above.
For reproducibility, I am running

[code]

[2022-02-08 03:52] cswinter opened #452 "SIGSEGV when running vector-add tutorial with triton=2.0.0.dev20220206"
I'm getting a SIGSEV when trying to run the vector-add tutorial with `triton=2.0.0.dev20220206`. The stable version didn't work because it doesn't have `tl.constexpr`.

[code]

[2022-02-08 23:21] jekbradbury opened #454 "docs site down?"
https://triton-lang.org seems down

[2022-02-09 00:36] ptillet commented on #454
Yes! I'm upgrading the docs to support multiple versions :) ALmost done

[2022-02-09 10:07] ptillet commented on #454
closing this as the website is back up -- and supports multiple versions!

[2022-02-09 10:07] #454 closed

[2022-02-10 05:48] FillyAutomatic commented on #452
I've had a similar issue, try removing lines 471 and 497 from triton.cc (Py_BEGIN_ALLOW_THREADS and Py_END_ALLOW_THREADS) and recompile. When I do this I end up with a different issue instead, which I haven't been able to solve yet.

[code]

[2022-02-10 09:59] ptillet commented on #452
Thanks both for the report. I also ended tracing it up to the GIL yesterday. I just merged a PR (https://github.com/openai/triton/pull/458) that should remove the segfault and replace it with proper error messages.

[2022-02-13 17:50] DanielHesslow opened #459 "High CPU overhead for (cached) kernel launches"
Hi,

I'm consistently seeing very high cpu overhead when launching (already jitted) kernels.
Taking matrix multiply as an example, on an A6000 I'm getting similar performance for both in torch and triton in terms of CUDA-time. However, the triton kernel launches seems to dominate the GPU time, even for moderately large matrices. Eg. multiplying two 1024x1024 matrices yields the following timings:

[2022-02-14 14:35] #437 closed

[2022-02-16 06:34] calclavia commented on #217
@ptillet I checked Triton v1.1 and I think this issue is still here. Any updates on this?

[2022-02-16 22:06] ptillet commented on #217
this should be fixed on the latest master branch, or the latest dev wheel

[2022-02-20 10:14] calclavia commented on #217
@ptillet I've updated Triton but I'm getting segmentation fault on version `triton 2.0.0.dev20220211`

[2022-02-23 07:05] calclavia commented on #217
@ptillet I did more digging to see which part of the kernel causes the error. Added some comments. In particular, if I try to load another vector `q = tl.load(q_ptr + k_offsets[:, None], mask=k_mask[:, None], other=0)` in the loop, I get a segfault. The `tl.store` at the end of the loop causes the `IndexError: map::at` error. The kernel seems to run if I comment out tl.store

[code]

[2022-02-23 10:22] LucasSte commented on #402
I've read the paper about the Triton compiler and I found it really cool. I became interested in working on CPU support, perhaps as a side project.
Is there anyone already working on CPU support? Is there a chat platform for contributors?
I built the code locally and did some digging. I was intending to map what needed to be done, but I've got a few questions.

[2022-02-24 06:05] calclavia commented on #217
I think this issue is related to https://github.com/openai/triton/issues/375
If I use `tl.dot` within a loop, it tends to be buggy with Segmentation fault

[2022-02-24 17:58] ptillet commented on #217
Hey!

First of all, thanks for digging into this issue. Sorry for having been unresponsive, I've been quite busy with other matters, and I am well aware of the instabilities of triton 😅  I will look into this problem. FWIW, we are planning a rewrite of the backend that should greatly improve stability on these kinds of issues.

[2022-03-01 19:22] Jokeren opened #465 "Potential problems in testing.py"
Hi @ptillet , I started playing triton a few days ago. I have read through your tutorials on vec-add and matrix multiplications. I should say triton is very convenient for writing compute kernels!

I would like to report a potential problem in `testing.py`. IMO, every parameter is assigned the same `x_val` in each iteration [here](https://github.com/openai/triton/blob/master/python/triton/testing.

[2022-03-01 21:58] ptillet commented on #465
Hello Keren! :) Hope everything is going well for you!

I am not sure I fully understand the issue; could you share a short benchmark snippet that exposes the issue?

[2022-03-01 22:08] Jokeren commented on #465
Sure. Let's just use the tutorial as an example.

https://github.com/openai/triton/blob/d9dd97492f228020573b39a9cec14ee3b8776957/python/tutorials/03-matrix-multiplication.py#L317

Currently we only test square matrices where M=N=K. I would like to test M=1024, N=256, and K=256 using the `triton.testing.perf_report` utility by specifying shapes using `x_vals`. Unfortunately, I cannot find a way to

[2022-03-01 22:17] ptillet commented on #465
Oh yes I see what you mean. The semantics of the perf report right now is indeed to assume that all the `x_names` are equal otherwise line plots become ambiguous. I think what you're proposing is essentially to have a histogram functionality inside of `perf_report` that would allow multiple x-axis arguments to vary. Is that right?

[2022-03-01 22:30] Jokeren commented on #465
Yes, exactly.

My proposal for this problem is below without too many changes on the existing code.

[code]

It is not a critical problem though. Just wanted to confirm that my understanding of code is correct.

[2022-03-02 01:55] ptillet commented on #465
Yep, I think it's a good idea. Varying multiple arguments as once is also valuable though. Probably `x_vals` could detect if it's a list of int or tuples and behave differently (line plot vs histogram)

[2022-03-02 09:00] h-vetinari opened #466 "cutlass bindings cannot be compiled due to missing header"
Hey all

I'm trying to package triton for conda-forge, and running into a couple issues (will probably raise a PR with some small fixes).

In any case, I'm finding that the cutlass bindings as of 1.1.2 cannot be compiled, because they include `triton/tools/bench.hpp`, which in turn includes `triton/driver/device.h`, which however has been removed by #268.

While I'm in debugging mode, I'm iteratin

[2022-03-03 04:26] ptillet commented on #466
Oh yes ... I don't think we planned on maintaining the CUTLASS bindings now that Triton has reached performance parity with it 😅 May I ask in what context you need them?

[2022-03-03 04:34] h-vetinari commented on #466
As I said, it's regarding packaging triton for conda-forge, which itself is inspired by wanting to package something else that depends on triton (and conda-forge being sort of a closed loop for many reasons, this means triton needs to be packaged too).

In terms of "why add cutlass", well, it's just that it shows up in the `CMakeLists.txt`, and I tend to have a maximalist approach to packaging (be

[2022-03-03 04:35] ptillet commented on #466
ooooh, that should be addressable. Are you trying to package the latest master?

[2022-03-03 04:40] h-vetinari commented on #466
No, with extremely few exceptions only tagged versions (though carrying patches is OK), so I'm basing myself on 1.1.2.

Right now the problem that I'm running into (aside from the cutlass bindings) is that because conda-forge is volunteer-run and runs on free CI, we do not have GPUs available. The package builds, but I cannot run the test suite since it's so tightly linked to having a GPU. I start

[2022-03-03 04:42] h-vetinari commented on #466
In other words, most likely we'd have working builds already (we can build for GPU, just not run tests that depend on physical GPUs being present in CI), but it's best practice to make sure that we can pass the full test suite first. In this case, we could also forego that, but my first attempt is certainly to try.

[2022-03-03 04:56] ptillet commented on #466
I see, this makes a lot of sense. I feel like the cutlass bindings are easily discardable; they're pretty much dead code and I just guess the CMakeLists wasn't updated properly. I'd be down to merge a PR that does  this and any other build change that's necessary.

As for the unit test situation, it's definitely an annoyance. While CPU support is "under development", it is probably the lowest prio

[2022-03-03 05:00] h-vetinari commented on #466
Well, from my naïve reading of the test suite, since `device` is always a `torch.device`, my first approach was to turn this into a fixture that tests _both_ for CPU/CUDA paths (the latter depending on availability). But obviously it would need a bit of refactoring to not depend on explicit device_id's etc. when running in the CPU case.

With my patch for (also) using `torch.device('cpu')` I'm run

[2022-03-03 18:41] ptillet commented on #466
Yeah ... unfortunately Triton does not support CPUs at all at the moment 😅

[2022-03-06 03:38] overshiki opened #472 "how to do graph message passing using triton?"
Hi,
I'm trying to implement the graph message passing method based on triton, using gather-process-scatter approach. The idea is that for each thread, I obtain the source_index and target_index of an edge, and then fetch the pair of D-dimensional data using the two indices I get(gather), process the data pair(process), and finally put the data back with the source_index(scatter).

Currently, I can

[2022-03-07 06:09] Jokeren commented on #472
To rephrase your question a little bit, I guess `s` is a `NxC` tensor, where N is the number of nodes, and C is the number of features of each node. If I understand it correct, what you would like to implement at `yi` (or `yj`) is loading a `TxC` tensor into GPU memory, where `T` refers to the nodes that are referenced by the current GPU block.

If so, I don't think `yi = tl.load(s+id_source, mask

[2022-03-07 06:11] Jokeren commented on #465
Sure. I'll work on this issue when I find time in the next several weeks.

[2022-03-08 07:09] overshiki commented on #472
Thanks for replying.
Yes, exactly. `yi`(or `yj`) is loading a `TxC` tensor into GPU memory. The problem is that I could not figure out how to do so.

I also tried `yi = tl.load(s+id_source[:, None], mask=mask)` following the example of [matrix multiplication](https://triton-lang.org/master/getting-started/tutorials/03-matrix-multiplication.html#sphx-glr-getting-started-tutorials-03-matrix-multipli

[2022-03-08 16:40] Jokeren commented on #472
Yes, I think that should be the issue. Here's a potential solution (I haven't tested it yet).

Suppose you have C features, then you can generate a range using `tl.arange(0, C)`. Next, you can calculate offsets using `id_source[:,None] * s.stride(0) + tl.arange(0, C)[None,:]`.

I'm not sure if the arrays you loaded could fit into shared memory, but that's the basic idea. You can start from there.

[2022-03-10 11:56] cydoroga commented on #364
Hi!
I'm trying to run triton.ops.blocksparse.matmul but struggling with the error:

`matmul = triton.ops.blocksparse.matmul(layout.cpu(), block_size, 'dds', trans_a=False, trans_b=True)`
`out = matmul(x, w)`

Traceback (most recent call last):
 ....
  File "/slot/sandbox/j/.local/lib/python3.6/site-packages/triton/code_gen.py", line 563, in _compile
    name, asm, shared_mem = _triton.code_gen.com

[2022-03-10 12:12] btyu commented on #364
Hi @cydoroga !

The v1 is buggy, and the author of Triton once recommended me to try v2.0. And so far v2.0 works for me, on CUDA 11.3.

[2022-03-10 12:17] cydoroga commented on #364
Hi @btyu! Thanks for the answer.
As I said, I've tried v2.0 - the latest available version. It does not work.

Totally forgotten to mention:
I was able to run triton v1.0.0 on another device with the same versions of CUDA and CUDA toolkit.
And it works fine. But on this particular machine it is not working for some reason.

[2022-03-10 12:28] btyu commented on #364
@cydoroga What I mean is that you may need v11.3.

As mentioned in another issue (https://github.com/openai/triton/issues/322#issuecomment-950734254), they solved their problem by upgrading to CUDA v11.4.2. And to my experience, v11.3 also works fine. I actually don't know whether your problem has something to do with the CUDA version, so it's just a personal sugguestion.

If this cannot solve it,

[2022-03-15 12:50] overshiki commented on #472
Hi  @Jokeren,  thanks a lot for the previous comment.
I have tested the suggested piece of code `id_source[:,None] * s.stride(0) + tl.arange(0, C)[None,:]`.
However, it just gives me an error: `AttributeError: 'block' object has no attribute 'stride'`, which indicates `s`(a `NxC` tensor) does not have attribute `stride`.

I know you haven't tested the code and are not sure if it works. The problem

[2022-03-15 18:38] Jokeren commented on #472
`s.stride(0)` is something you should obtain on the CPU and pass it as a parameter to the GPU code.

Why do you think `id_source` does not support broadcasting? Can you check the example here and elaborate on this?

https://github.com/Jokeren/triton-samples/blob/main/indirect.py

[2022-03-15 18:45] Jokeren opened #475 "Triton int64 overflow bug"
To compute `(a * b) % c`, if `a * b` is greater than `max(int32_t)`, then the final result is incorrect.

Reproducer: https://github.com/Jokeren/triton-samples/blob/main/int64-mod.py

[2022-03-15 18:50] Jokeren opened #476 "Triton transpose 2d matrix bug"
To transpose a 2d matrix `a[M, N]` to `b[N, M]`, if we first load a non-transposed block `a[sub_m, sub_n]`, then store it to `b[sub_n, sub_m]`, the result is correct. Otherwise, if we first load a transposed block `a[sub_n, sub_m]`, then store it to `b[sub_n, sub_m]`, the result is incorrect with a CUDA runtime error.

Reproducer: https://github.com/Jokeren/triton-samples/blob/main/transpose-2d.py

[2022-03-15 18:52] Jokeren opened #477 "Triton.language.atomic_* documentation problem"
Seems like the documentation should be updated, since there's no such a `cmp` parameter for `atomic_add`, `atomic_max`, or `atomic_min`.

https://triton-lang.org/master/python-api/generated/triton.language.atomic_max.html
https://triton-lang.org/master/python-api/generated/triton.language.atomic_add.html
https://triton-lang.org/master/python-api/generated/triton.language.atomic_min.html

[2022-03-15 19:25] ptillet commented on #475
You are right. I am aware of this problem -- just need to come up with a proper fix that doesn't affect performance (int64 are expensive on GPUs). Right now Triton directly translate to `llvm.mul`, which uses the 2-complements and overflows. Casting inputs to a bigger int type before multiplying is the way to do it but my incur some overhead. I have started working on a fix, which includes special

[2022-03-15 19:26] ptillet commented on #476
I am surprised. I've definitely had kernels that worked with both transposed and non-transposed loads/store. Could I get permissions to see the kernel?

[2022-03-17 12:04] smckay3 opened #479 "Unsupported PTX version on RTX 2080 Super with cuda 11.6"
Thanks for creating this library!

I recently tried downloading the master branch and compiling from source. Compiling went without issue but tests including a simple add test failed with the following error:
[code]

I'm running Ubuntu 20.04 with an RTX 2080 Super. `nvidia-smi` gives the following:
[code]
I was able to get things working by hard-coding the value returned by `vptx` in `lib/driver/l

[2022-03-18 22:05] weixingzhang commented on #252
@micmelesse Great to see ROCm support. What is the plan to support matrix core in MI100? Or is it already supported?

[2022-03-20 07:16] overshiki commented on #472
@Jokeren Thanks so much for the example!
Yes, now I find out `id_source` really supports broadcasting, that is a good news. I also check the example, it works at the first glance. However, after double-checking, I found it does not give the result I expected(something weird happened). Let me explain it using the piece of code below:

[code]

Here you can see, as you suggested, I pass the stride `N

[2022-03-20 20:27] Jokeren opened #480 "Triton reduce sum bug"
### Bug 1

If we use `tl.load(x_ptr + tl.arange(0, BLOCK_SIZE)[:, None] * STRIDE + tl.arange(0, CHANNEL_SIZE)[None, :]`, the result is incorrect.
However, if we assign `offsets =  tl.arange(0, BLOCK_SIZE)[:, None] * STRIDE + tl.arange(0, CHANNEL_SIZE)[None, :]`, and then use `tl.load(x_ptr + offsets)` the result is correct.

reproducer: https://github.com/Jokeren/triton-samples/blob/main/sum-2d.py

[2022-03-20 20:28] Jokeren commented on #472
@overshiki It might be a triton bug. I've filed the bug here https://github.com/openai/triton/issues/480

[2022-03-28 03:24] #332 closed

[2022-03-28 22:39] apd10 opened #486 "ptxas path bug when ptxas is not found in /usr/local/cuda/bin"
**Issue**: is that when ptxas is not found in /usr/local/cuda/bin , then the code crashes even if we enable TRITON_PTXAS_PATH environment variable (which would be the usual approach)

**Bug in Code**: The issue is in code. Code stores a single value of "ret" and it gets updated when it tries running the ptxas from /usr/local/cuda/bin with the error string thus erasing the value of ret which was va

[2022-03-30 14:34] andy201709 opened #489 "Could you help upgrade the vulnerble shared library introduced by package triton?"
Hi, @ptillet , @daadaada , I'd like to report a vulnerability issue in **triton_1.1.1**.
### Dependency Graph between Python and Shared Libraries
![image](https://user-images.githubusercontent.com/101270230/160859831-61306e8e-eec7-41ee-b0c1-e20088fae34b.png)
### Issue Description
As shown in the above dependency graph, **triton_1.1.1** directly or transitively depends on ***3*** C libraries (.so).

[2022-03-31 03:28] ptillet commented on #489
Hello!

Thanks a lot for pointing this out!
I think this issue has been fixed in `master`; Triton doesn't sepend on libtinfo anymore https://github.com/openai/triton/blob/master/CMakeLists.txt#L160

[2022-03-31 03:29] ptillet commented on #480
Thanks a lot! I am hopeful that the ongoing MLIR rewrite will address a lot of these issues :D

[2022-03-31 11:46] andy201709 commented on #489
@ptillet Thank you very much for your feedback.

I got it.

Is the diagnosis information useful to you? I am happy to know that :)
Our team developed a tool that can detect the vulnerablity issues that are induced by cross-language invocations.
If you are interests, I can share you a download link when we make it open-source.

Thanks again！
Andy

[2022-03-31 17:22] ptillet commented on #489
Yes, it was useful. I would love to know more about this tool when it's open-sourced :)

[2022-04-02 01:09] gaxler commented on #479
Check what you get from running `nvcc --version`. If the version is not compatible with your CUDA version, make sure you configured the PATH and LD env vars correctly.

You should make sure you followed those [Nvidia instructions](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#post-installation-actions)

The gist is for CUDA 11.6 is this (**use your actual CUDA path**):

[co

[2022-04-02 17:42] smckay3 commented on #479
This did reveal the issue. At some point, I had installed nvidia-cuda-toolkit which was providing an old nvcc version. Uninstalling that package fixed the error.

Thank you!

[2022-04-02 17:42] #479 closed

[2022-04-04 23:31] ptillet commented on #486
Thanks! I've just merged your patch

[2022-04-04 23:31] #486 closed

[2022-04-13 02:31] powderluv opened #494 "benchmark script broken on top of main"
The benchmark script seems to have regressed in the top of main. It works with version 1.1.1

Fails with:

[code]

[2022-04-14 01:03] msaroufim opened #496 "Default K80 in google colab notebook not supported"
Repro: run the first example. Notebook [here](https://colab.research.google.com/drive/1Tsm6sjBbjYgmbYKao8ifvQpYEEhkbYzp?usp=sharing)

Not a huge issue for performant production code but limits utility of library in an educational setting since colab is so popular. Should still work fine for colab pro.

[code]

[2022-04-14 01:04] #496 closed

[2022-04-14 23:11] fgvbrt opened #497 "remove/reduce philox checksums"

[2022-04-14 23:23] msaroufim opened #498 "triton tutorial for people that don't know CUDA"
Hi @ptillet I work on PyTorch at Meta and have been interested in writing more tutorials on how people could contribute to PyTorch without writing C++.

An important component is kernels where I have been stuck in tutorial hell learning CUDA for many years and I would suspect others are in a similar position in open source. Which is why I'm very excited about the educational potential of Triton.

[2022-04-14 23:31] #497 closed

[2022-04-15 00:27] #498 closed

[2022-04-15 01:05] msaroufim commented on #498
Discussing this on slack

[2022-04-30 18:32] jansel opened #504 "load/store mask does not accept `tl.constexpr(None)`"
Repro:
[code]

Produces:
[code]

This used to work on the nightly from a few weeks ago, but does not work on the current nightly build.  It also appears the error message is pointing to "indices" when the real problem is "mask".

[2022-04-30 21:25] ptillet commented on #504
Should be fixed in https://github.com/openai/triton/pull/505, does it work now?

[2022-04-30 21:34] jansel opened #506 "[Feature Request] Support `__pow__` builtin"
Repro:
[code]

Error:
[code]

[2022-04-30 21:44] jansel commented on #504
Yes, it works now.  Thanks for the quick fix!

[2022-04-30 21:44] #504 closed

[2022-05-02 05:57] ptillet commented on #506
Hey! Working on it right now.

The floating point case is trivial `tl.exp(tl.log(x) * y)`. However, I noticed some difference in semantics between Python, Numpy and torch for integers. Specifically:
[code]
Not 100% sure what to do. The easiest to do is to keep the semantic of PyTorch, i.e., compute the result in float and cast to int?

[2022-05-02 08:15] jansel commented on #506
I'd prefer torch-like semantics.

I originally was rewriting this as `tl.exp(tl.log(x) * y)`, though one gotcha is handling of negatives and integer exponents.  Here are a few examples I experimented with:

`x**2` requires `torch.exp(torch.log(torch.abs(x))*y)`
[code]

`x**3.0` requires `torch.sign(x)*torch.exp(torch.log(torch.abs(x))*y)`
[code]

`x**1.5` works with `torch.exp(torch.log(x)*y)`
[co

[2022-05-02 15:41] ptillet commented on #506
Yeah, it does seem like a huge can of worms. And that's not even mentioning issues about numerical stability. I don't think there is any PTX ISA that could help with, but the right solution would be for Triton to allow forward-declaration and external linkage against CUDA functions from `libdevice`. That would also solve the erf problem. It's somtehing I've been wanting to do for a while, so it's

[2022-05-02 15:43] jansel commented on #506
Awesome, thanks!

[2022-05-04 08:07] david-macleod commented on #218
@ptillet that sounds like great news, presumably this will open the door for having Triton kernels as custom extensions in torchscripted models. Do you have a rough time frame for this landing?

[2022-05-15 23:11] msaroufim opened #517 "How to debug kernels"
I'm trying to understand exactly what each line of code in `add_kernel` does in the vector add tutorial.

Because it's a kernel I can't use a typical step debugger to go through this function, the Python debugger in VS code for example only has visibility into the `add()` function. The VS code nsight debugger didn't seem to work but it could be I didn't set it up right

I can't add print statement

[2022-05-20 20:20] bertmaher opened #518 "Permissions errors when multiple users share a system"
We've got multiple people using triton on a shared development machine, and every once in a while we hit something like:
[code]

Could the cache dir be made per user, like `/tmp/triton_$USER`?  Or is something else going wrong? :-)

[2022-05-20 23:03] ptillet commented on #518
Oh. That's an interesting use case :D This is already supported, i.e. you can do `export TRITON_CACHE_DIR=/tmp/triton_$user` and that should have the expected behavior. I wonder this would be a better default though. Probably?

[2022-05-20 23:49] bertmaher commented on #518
Yeah I think it would be a better default.  Setting TRITON_CACHE_DIR is a good workaround but it does take a little figuring out 🙂

[2022-05-21 13:07] colehawkins opened #521 "Will triton v2 blocksparse ops support attention mask?"
Linked to https://github.com/facebookresearch/xformers/issues/289 where I am currently using a pytorch-only workaround base on the tritonv2 dev pre-releases.

I noticed that https://github.com/openai/triton/pull/450 removes support in master.

There is still support in https://github.com/openai/triton/blob/v2.0/python/triton/ops/blocksparse/softmax.py, but if this will be removed, we will not rely

[2022-05-25 01:09] jansel opened #525 "Better error message for CPU tensors"
Given an example like this:
[code]

Triton gives the error:
[code]

I've seen a couple of people get stuck on this.  The problem is a missing `device="cuda"`.  Triton should give a more helpful error message in this case.

[2022-05-25 22:02] ptillet commented on #525
https://github.com/openai/triton/blob/master/python/triton/code_gen.py#L968-L972 I can uncomment this :D This was commented because we had users that ran triton kernel with grid size of 0 on CPU tensors and I didn't wanna break backwards compatibility XD

[2022-05-26 00:54] ptillet commented on #525
Actually, this is also not clear how the error message would interact with buffers that are on "CPU" but in the Unified memory. Technically these should still be valid to be passed to kernels.

[2022-05-26 01:25] jansel commented on #525
Hrm, we could catch the error when it happens and change the message produced.

[2022-05-26 11:02] DanielHesslow opened #529 "LLVM error with softmax kernel in bf16"
Getting an LLVM error when running the softmax kernel from the tutorial in bf16.

Pretty sure the issue is the conversion of the fill in value `other = float('inf')` from float32 to bf16.

`row = tl.load(input_ptrs, mask=col_offsets < n_cols, other=-float('inf'))`
the following runs fine:
`row = tl.load(input_ptrs)`

Full dump below:
[code]

[2022-05-26 20:30] jansel opened #530 "[Feature Request] Support for round/trunc/floor/ceil primitives"
Currently, I am mapping `torch.round()` to:
[code]

This results in slightly incorrect behavior when something falls exactly on a 0.5 boundary when compared to CUDA standard library functions and eager PyTorch.

@ngimel found that (see more https://github.com/pytorch/torchdynamo/pull/282#discussion_r882953565)

As far as I know there isn't an easy way to make Triton generate `add.rz.ftz` and the `

[2022-05-27 20:51] #518 closed

[2022-05-31 02:01] jansel opened #532 "`LLVM ERROR: Broken function found` from `tl.where ` broadcasting"
Repro:
[code]

VERSION 1 uncommented yields:
[code]

VERSION 2 uncommented yields:
[code]

VERSION 3 works, and seems like a valid workaround.

[2022-06-04 02:27] bradezard131 opened #536 "Docs down"
The GitHub Pages for the docs is currently returning a 404 not found:
<img width="653" alt="image" src="https://user-images.githubusercontent.com/2363042/171974622-15a74827-f0d5-43b1-8c1c-056050884643.png">

[2022-06-04 12:41] DanielHesslow commented on #529
Issue was more nuanced than I thought, it's appears to be related to non-constexpr branches in bf16. Will start a new issue once I have a minimal repo, and understood it better.

[2022-06-04 12:41] #529 closed

[2022-06-05 02:14] jansel opened #537 "`LLVM ERROR: Broken function found, compilation aborted!` from `float16`"
Repro:
[code]

Output:
[code]

The workaround is "VERSION 2" in the code.

[2022-06-06 22:51] DanielHesslow opened #540 "IndexError: map::at, with reduction+ broadcasting+storing."
Hi :wave:,

I'm getting `IndexError: map::at`, with the combination of reducing over one axis, broadcasting it back to the original shape and then writing out the result. Results are the same if there are intermediary steps between the broadcasting and the store. Only broadcasting, without the initial reduction works fine. Minimal repro below.

I'm on the latest triton version @ master, also getti

[2022-06-07 01:02] ptillet commented on #536
Hey! It's back up. Thanks for reporting :)

[2022-06-07 01:03] #536 closed

[2022-06-07 01:04] #489 closed

[2022-06-07 12:28] StellaAthena commented on #122
It seems that this issue has returned and now plagued 0.4.2 per @tsndr’s issue at https://github.com/EleutherAI/gpt-neox/issues/628

[2022-06-07 15:46] naren-nallapareddy commented on #122
@StellaAthena I can confirm, I am running into the same issue. I get "No matching distribution found for triton==0.4.2" error.

[2022-06-07 22:18] ptillet commented on #540
That's an interesting case. Thanks for the minimal repro.

I'm not surprised that it fails given the design flaws of the existing Triton backend. We are working hard on rewriting the backend from scratch though, and the new design should make these kinds of workloads work properly

[2022-06-08 13:34] DanielHesslow commented on #540
That's nice to hear, do you have some very rough ETA on when the rewrite will land on master?

Have a couple of kernels I need to write within the next few months, trying to understand if need to go back to basics and write it in cuda instead.

[2022-06-10 01:00] jansel commented on #540
I'm hitting a similar issue with this repro:
[code]

Output:
[code]

If I simplify it a bit more:
[code]

I get a segfault:
[code]

[2022-06-10 20:11] patrickmineault opened #542 "matmul test fails on 2.0.0 due to missing feature `mma`"
I built triton from source (#541) and ran the tests. The outcome is:

[code]

Most of the tests that fail are in `test_matmul.py`. The error are all of the same type:
[code]
The line number can change, but the error messages are similar. I get similar errors running the nightly build. Output of nvidia-smi:

[code]
Python 3.8, Ubuntu 20.04.4 LTS. PyTorch:

[code]

[2022-06-11 00:17] jansel opened #543 "triton.language.log does not support float64"
Repro:
[code]

Output:
[code]

[2022-06-12 05:16] ngimel opened #544 "Unexpected results of conversion to `bool`"
Looks like triton implicit and explicit (`.to(tl.int1)`) conversion to `bool` first converts to integer (only if `abs(x)` is larger than or equal to one it's converted to `True`):
[code]

[2022-06-12 21:23] patrickmineault commented on #542
Nevermind, it was because my GPU doesn't support compute capability 7.0. It would be nice to have better error messages, e.g. "your GPU doesn't support compute capability 7.0" or the like.

[2022-06-12 21:23] #542 closed

[2022-06-13 22:52] #544 closed

[2022-06-15 09:47] Superjomn opened #550 "Unable to follow VectorAdd tutorial with the latest Triton version"
Hi,

I am trying with the latest Triton to work through the first [Vector Add](https://triton-lang.org/master/getting-started/tutorials/01-vector-add.html#sphx-glr-getting-started-tutorials-01-vector-add-py) tutorial, but it seems that the latest version is not compatible with this document.

I got two issues:

**Issue 1: no `tl.context` in triton.language**

[code]

[code]

After I remove the `tl

[2022-06-15 20:06] Jokeren commented on #550
Can you clone triton locally and try `pip install -e .` in the `python` directory?

I cannot reproduce this problem on my machine.

[2022-06-15 20:21] Jokeren commented on #472
@overshiki With my recently error message patch, it shows that the errors occur due to the invalid tensor shape.
Triton's in-kernel tensors must have a power-of-two number of elements. So I believe you won't have this problem by adjusting N to 8 and C to 4.

[2022-06-15 20:32] Jokeren commented on #480
Solved, we now have error messages that warn users must have tensors with 2^n elements.

[2022-06-15 20:32] #480 closed

[2022-06-15 20:44] Jokeren commented on #476
This is an odd one, still have this problem with triton/master.

[2022-06-16 13:13] Superjomn commented on #550
Thanks for the reply.

Works fine with the build from the latest code.

PS, the nightly build seems not stable.

[2022-06-16 13:13] #550 closed

[2022-06-17 07:07] z-a-f opened #554 "Consider changing the name of the default branch"
Many communities, both on GitHub and outside are considering changing the default branch name from `master`.
The most common alternative is `main`, currently used by default for all new projects on GitHub. Moreover, the git project itself is encouraging the change of the default branch names.

- [Instructions and motivation on GitHub](https://github.com/github/renaming)
- [Software Freedom Conserv

[2022-06-20 17:35] jansel opened #558 "Correctness issue with `tl.atomic_add`"
I mentioned this on slack, and https://github.com/openai/triton/pull/556 is a partial fix, but wanted to create an issue here, so I have something to link to from workarounds.

[code]

Output:
[code]

[2022-06-20 20:45] Jokeren commented on #435
This problem should have been fixed in master. Please let us know if there's till any problem.

[2022-06-20 20:45] #435 closed

[2022-06-20 21:01] Jokeren commented on #429
@andreaskoepf If I understand it correct, this test kernel should output all elements = 32 since you only accumulate a [32, 128] kernel where each element is 1/128. Can you please verify using the master branch?

[2022-06-20 21:03] Jokeren commented on #429
If you change block size to 128, it should output the correct answer as you expected.

[2022-06-20 22:45] Jokeren commented on #475
Found a workaround. We can use (a.to(int64) * b) / c to force a cast.

[2022-06-21 00:12] Jokeren commented on #494
I cannot reproduce such a problem with master. @powderluv can you please give it another shot?

[2022-06-22 05:44] mattstobber commented on #122
Same for me as well :(

[2022-06-22 06:20] atsushi3110 opened #563 "No attribute error: triton.language.constexpr in conda env"
# How To Reproduce
* Dockerfile
[code]

* The output of conda list
[code]

* Run the following python source.

[code]

* Error messages
[code]

# Expected Behavior
*  Reproducing tutorial softmax results.

[2022-06-22 06:21] #563 closed

[2022-06-24 20:39] #477 closed

[2022-06-24 20:39] #494 closed

[2022-06-24 20:41] Jokeren commented on #385
Cannot reproduce this problem. Can you please try on top of triton/master?

[2022-06-28 05:11] jansel opened #566 "ValueError: Did you forget to add @triton.jit ? (`_builder` argument must be provided outside of JIT functions.)"
The latest version of Triton seems to have broken something, this used to work:
[code]

Results in:
[code]

[2022-06-28 05:17] jansel commented on #566
`git bisect` points to #557 as the first bad commit.

[2022-06-28 07:25] ptillet commented on #566
Should be fxed in #567

[2022-06-28 07:25] #566 closed

[2022-06-28 14:13] kashif opened #568 "error when running tutorial script"
[code]

I am using:

[code]

[2022-06-28 21:47] Jokeren commented on #568
Can you update triton and try triton/master?

[2022-06-28 22:00] ptillet commented on #568
I think you might be using an old-ish version of Python that doesn't support f-strings

[2022-06-29 07:59] kashif commented on #568
thank you @Jokeren Yes I also tried with master and get the same error... As noted I am using python 3.7 let me check what the status of f-strings is in this version. Else I believe we might consider increasing the minimum python version on triton...

[2022-06-29 09:35] oscarknagg commented on #563
Hi @atsushi3110 did you manage to resolve this? I'm having the same issue so it would be great if you could share your solution :slightly_smiling_face:

[2022-06-29 10:34] kashif commented on #568
@ptillet I believe you are right... the following `f"{num_warps=}"` fails in python 3.7

[2022-06-29 16:35] oscarknagg commented on #540
I'm working on implementing FlashAttention (https://arxiv.org/pdf/2205.14135) in Triton and am having the same issue. If anyone has a good workaround please let me know.

[2022-06-29 16:37] ptillet commented on #540
For what it's worth I've already implemented flash attention in Triton and shared the forward pass publicly in python/tutorials/06-fused-attention.py. Backward pass is also doable (and done privately) but not open-sourced at the moment.

[2022-06-29 16:49] oscarknagg commented on #540
Wow that's awesome! I'll take a closer look at that.

[2022-06-29 17:40] Jokeren commented on #568
Thank you @kashif

[2022-06-29 17:40] #568 closed

[2022-06-30 06:11] DanielHesslow commented on #540
Actually started the issue originally for flash attention as well, very nice that it's available in the tutorials!

@ptillet, any chance the backward will be available opensource at some point?

[2022-07-02 22:24] jansel opened #573 "`tl.rand()` does not support a constant seed"
Repro:
[code]

Output:
[code]

[2022-07-03 13:47] leiwen83 commented on #189
Hi @daadaada ,

I see current triton is using inline ptx assembly for the codegen. As your previous work on gas and turingas prove that sass level is more effective, will triton add sass codegen in the near future?

Thx

[2022-07-04 02:03] jansel opened #574 "Segmentation fault from block size of 1"
Repro
[code]

Output:
[code]

@ptillet this is a kernel from resnet18 training.  It looks like a unique segfault reason in addition to the other one I reported.

[2022-07-05 00:28] ngimel commented on #574
Smaller repro (just broadcasting and copying a tensor)
[code]

[2022-07-06 00:05] pyjhzwh opened #576 "map::at error when adding [XBLOCK, RBLOCK] size of data with [XBLOCK, 1] size of data"
`map::at error` Repro:
[code]

However, no error if I move reshaping ranges to xindex and rbase as below
[code]

[2022-07-06 16:36] jansel commented on #576
@ptillet this may be related to #574 as they are both issues with 1xN or Nx1 blocks.

This issue is forcing us to generate worse/slower code (turning Nx1 blocks into NxM) to try to work around these errors.

[2022-07-06 16:49] ptillet commented on #576
Yes, this was actually a very minor issue. I have it fixed, but will merge along with the atomic_add and the rand constexpr fix tonight probably :)

[2022-07-06 16:49] jansel commented on #576
Awesome!  Thanks so much!

[2022-07-07 03:03] #558 closed

[2022-07-07 03:03] ptillet commented on #558
Let me know if you still run into any issue!

[2022-07-07 03:04] ptillet commented on #574
This should be fixed in #577. Let me know if you run into any more issue!

[2022-07-07 03:04] #574 closed

[2022-07-07 03:04] ptillet commented on #573
This should be fixed in #577. Let me know if you run into any more issue!

[2022-07-07 03:04] #573 closed

[2022-07-07 03:05] ptillet commented on #576
Unfortunately my PR that fixed #574 didn't fix this :( But at least it seems like there's a workaround here. Would this issue by itself still force you to generate slower code @jansel ?

[2022-07-07 04:12] jansel commented on #576
I believe so, but I'll let @pyjhzwh confirm.

This one is pretty awkward to workaround, because there are few different ways to write a broadcasting load:
1) reshape the index to `[N, 1]` at the top
2) reshape the index to `[N, 1]` inline
3) load as `[N]`, then reshape the loaded data to `[N, 1]`
4) reshape to dense `[N, M]` and do duplicate loads

We have seen these types of segfaults/map::at err

[2022-07-07 07:14] ptillet commented on #576
I think this issue here may have something to do with the for loop. I will take a look tomorrow, maybe i'll be able to characterize the problem better.

[2022-07-12 08:45] blefaudeux commented on #319
just to be sure @ptillet, this doesn't completely apply anymore with the TF32 accumulation, right ?

[2022-07-12 15:48] ptillet commented on #319
This still applies. Consumer GPU tensor cores only do well with FP16 accumulation, which isn't exposed in the Triton specs

[2022-07-12 16:22] blefaudeux commented on #319
oh I didn't know that the consumer ones differed on that front, ok, makes sense then. Thanks !

[2022-07-12 17:55] Jokeren commented on #532
This is still a bug tested with master

[2022-07-12 17:57] Jokeren commented on #476
Solved by https://github.com/openai/triton/pull/564

[2022-07-12 17:58] #476 closed

[2022-07-12 18:12] #412 closed

[2022-07-12 18:30] #429 closed

[2022-07-12 21:45] desertfire opened #580 "`RuntimeError: CUDA: Error- invalid value` when the grid size is too large"
Can be reproduced with,

[code]

[2022-07-12 21:54] Jokeren commented on #580
@desertfire This error isn't caused by triton.

Please checkout the deviceQuery utility.
https://github.com/NVIDIA/cuda-samples/tree/master/Samples/1_Utilities/deviceQuery

The grid dimension on the y axis should be less than 65535.

[2022-07-13 00:11] jansel commented on #532
We have a somewhat wonky workaround here:
https://github.com/pytorch/torchdynamo/blob/d1d8064dff0f109e626a7d87c6a09ea470204166/torchinductor/codegen/triton.py#L140

Perhaps we could just put that workaround in the Triton frontend.  Basically every instance of `r=tl.where(a,b,c)` is replaced with:
[code]

(Hopefully Triton/LLVM optimize away the `| 0`)

[2022-07-13 02:46] goostavz opened #581 "A detail question on init_idx() in generator.cc"
https://github.com/openai/triton/blob/971f5782b40d609a648dc35ae11c80993b5ce427/lib/codegen/selection/generator.cc#L3548

Hello @ptillet ,

I met an issue with my scripts that is reporting map::at() error here and I'm trying to debug and understand the code.
In my understanding axes_ only contains the axes_ids of the 'dominant' nodes in each layout group. And the instructions are grouped in layout

[2022-07-13 15:03] #580 closed

[2022-07-13 16:28] ptillet commented on #581
Yeah... basically `map::at` error is sort-of the compiler's way to say "encountered an error while automatically parallelizing the code". This will be addressed by design in the MLIR rewrite. In the meantime we do have community contributions for convolution kernels, but we're still working on optimizing their perf.

[2022-07-14 02:29] ptillet commented on #543
@jansel does the libdevice PR fixes this issue?

[2022-07-14 02:52] jansel commented on #543
`tl.log()` still throws the same `LLVM ERROR: Broken function found, compilation aborted!` given a float64 tensor.  This is annoying, but has the easy workaround of changing it to `tl.libdevice.log`.

With my [latest PR](https://github.com/pytorch/torchdynamo/pull/570/files#diff-1549a9bb546966bacdff2d566fb48fb42326e775aa681ee03d01bae9d7b6d935R145) TorchInductor codegens:
[code]

I'm not sure if we

[2022-07-14 03:01] jansel commented on #530
Fixed by https://github.com/openai/triton/pull/562

[2022-07-14 03:01] #530 closed

[2022-07-14 03:31] goostavz commented on #581
Sure, pls send me if there are any documents describing the ideas of the new layout/generator flow.
I'm more interested on this rather than the current conv performance numbers.

[2022-07-14 03:56] Jokeren commented on #543
`tl.log` is similar to `tl.libdevice.fast_logf()`, which approximates the result and only supports fp32. While `tl.libdevice.log` is accurate and supports both fp32 and fp64, it could be slower than `tl.log`.

[2022-07-14 19:49] ptillet commented on #543
Yep, `tl.log` and `tl.exp` currently implement very crude approximations that rely on hardware primitives for 2^x and lg_2(x). This is the same behavior that you get if you use `logf` or `expf` and use the --use_fast_math nvcc flag. @jansel I assume pytorch doesn't use this flag by default?

The tricky thing is that slower but more accurate math functions can increase register pressure, which can

[2022-07-14 19:57] jansel commented on #543
I am fine with using fast hardware approximations by default.  So I'd even suggest defaulting `use_fast_math=True` (perhaps you meant to write that in your example?).  A lot of the time we will be dealing with fp16 outputs, where I suspect the fp32 approximations give plenty of precision.

If someone passes a float64 it shouldn't crash though like it does today.

[2022-07-15 18:22] pearlli98 opened #583 "Internal Triton PTX codegen error when running matmul tutorial"
Hi,

I am running the 03-matrix-multiplication code with the command `python 03-matrix-multiplication.py` and got the following error:
[code]
I am using CUDA 11.3 at the moment. How can i resolve this and run the code?

[2022-07-15 18:26] #583 closed

[2022-07-15 23:24] Jokeren commented on #543
@ptillet So our plan is renaming `tl.{log,exp}` to `tl.{fast_log,fast_exp}` and dispatching based on the given data types (i.e., float32 and float64)?

[2022-07-15 23:24] Jokeren commented on #506
Closed with 4912916c11f68037510fce44bdbdcf1292550cb8

[2022-07-15 23:24] #506 closed

[2022-07-16 01:00] jansel commented on #540
I can confirm this seems fixed for me.

[2022-07-16 04:24] Jokeren commented on #540
Nice, thanks for the confirmation.

[2022-07-16 04:24] #540 closed

[2022-07-18 08:26] falkaer opened #584 "Broadcasting before tl.dot"
Hi,

I was trying to implement a kernel for computing a quadratic form with a Cholesky factor and got the below code working on my local machine with a GTX 1080 Ti (for all problem and block sizes I tried). However, trying to run the code with a A100 gives wrong results and running it on a V100 causes a segfault regardless of what block sizes / number of warps I use. I am using the latest preview

[2022-07-18 14:39] pearlli98 opened #585 "Unbale to use libdevice functions"
I tried to define a custom gelu activation function to replace the leaky_relu given in the matmul python tutorial. However, when i ran the following code, I got an error saying unable to load functions.

code:
[code]

Error message:
[code]

How can i properly use the libdevice functions. Is there any example provided for this? Thank you very much!

[2022-07-18 14:47] pearlli98 opened #586 "Changes to triton functions inside python script does not recompile"
When I make changes to a function like this in the python tutorials and reran `python ...`, the new changes will not be recompiled.
[code]
I had to manually clean the cache every time to compile the new code. Is there a better way to do this? Thanks.

[2022-07-18 16:47] Jokeren commented on #585
Did you check out and install triton/master?

[2022-07-18 16:49] Jokeren commented on #586
How did you install triton? Can you copy and paste the command?

[2022-07-18 17:00] pearlli98 commented on #585
This code is written and ran in a separate repository outside triton/master. I installed triton in my environment and `import triton` `import triton.language` seem to work fine.

[2022-07-18 17:36] ptillet commented on #584
Thanks for the bug report! We are working on rewriting the backend, and I am sure that we will be able to fix this issues once this is done (~3 months)

[2022-07-18 17:40] Jokeren commented on #585
@pearlli98 I'm able to reproduce the problem. It might be that the nightly wheel was built before Jason's fix (0a3f3d5f250394a2b1399c247a96c7839c6d02a1). @ptillet Should we rebuild the wheel?

[2022-07-18 18:48] ptillet commented on #585
Looked into it, but I think there is a bug in our wheel building CI. It tags the wheel with the date rather than the commit used. So PyPI refuses to take the new wheel since it has the same name as the other wheel that was built the same day but doesn't include said fix. Let me look into that

[2022-07-18 21:51] pearlli98 commented on #586
@Jokeren `triton.__file__` gives `'/private/home/pearlli/triton/python/triton/__init__.py'` and I am currently working on `/private/home/pearlli/triton/python/tutorials`.  Can you spot anything from this? Thanks~

[2022-07-18 21:54] Jokeren commented on #586
Based on your information, if you are modifying any python code in `/private/home/pearlli/triton/python`, and installed triton with `pip install -e .`, you shouldn't need to recompile it every time.

[2022-07-18 21:59] pearlli98 commented on #586
I did `pip uninstall triton` and `pip install -e .`. The issue is not solved. Do you any other suggestion or maybe I didn't uninstall correctly?

[2022-07-18 22:01] Jokeren commented on #586
Have you tried to remove all pycache files in `<site-packages>/triton/*` and your work directories?

[2022-07-18 22:20] pearlli98 commented on #586
I have removed all pycache, build, egg.info file from the triton directory. I don't find this `<site-packages>/triton/*` anywhere. The problem is not resolved.

I wanna ask whether the fact that the cache file is located at `～/.triton/cache` is related to this. I also cleared that folder before reinstalling but see the same thing.

[2022-07-18 22:35] ptillet commented on #585
The new wheel is pushed. There was a discrepancy between the time zones used in the CRON build schedule and the commit date. Does the new wheel help?

[2022-07-18 23:00] Jokeren commented on #586
Content in `~/.triton/cache` does not cache python files.

Sorry I don't additional clues to debug this problems for now.

[2022-07-18 23:09] pearlli98 commented on #586
@Jokeren currently removing files inside the `~/.triton/cache` directory is the only way I know of to make the code recompile and reflect new changes for my case. I think it should be somewhat related to the python files.

Thanks for you help.

[2022-07-18 23:53] ptillet commented on #586
I do remember indeed that there is a bug related to caching now that functions aren't inlined at the AST level. It can manifest when modifying leaky_relu...

[2022-07-19 00:14] Jokeren commented on #586
I'm think about probably another problem. Suppose we have a triton function `F` with a single argument `arg1`, if `arg1`'s ptr (i.e., `arg_ptr`) happens to be the same in two runs, but we modify `F` internally, then we are still going to invoke the same binary because the hash signature is computed based on pointers, arguments, and the function name.

[2022-07-19 00:17] Jokeren commented on #586
If this is the problem, maybe we could add a disable_cache option to each kernel launch or as a global control knob.

[2022-07-19 01:36] pearlli98 commented on #586
@Jokeren,  I changed it to something even simpler.
[code]
I would change `return x` to `return x+1` inside the function. The output would still be the same.

[2022-07-19 01:54] Jokeren commented on #586
1. Do you have the same problem without using the activation function?

2. Can you add `print(a.data_ptr)` and `print(b.data_ptr)`, and run the script twice to see if ptrs do not change?

[2022-07-19 02:09] pearlli98 commented on #586
@Jokeren

1. Interestingly, changes made to`matmul_kernel()` is recompiled automatically.
2. I don't think they are the same ptrs.
[code]

[2022-07-19 02:15] pearlli98 commented on #585
It works now. Thanks!

[2022-07-19 02:15] #585 closed

[2022-07-19 04:35] pearlli98 opened #589 "python layer norm and fused attention tutorials fail to run"
When i run python tutorials 5 (layer norm) and 6 (flash attention), i get the following error.

Layer norm:
[code]

Fused attention:
[code]
These errors seem to come from a similar place. I have not made any changes to the files.
Would anyone be able to take a look and help resolve this? Thank you :)

[2022-07-19 04:38] Jokeren commented on #586
Thanks! So this should be the problem @ptillet mentioned. My understanding is that the source code of the activation function has not been used to calculate the signature of the kernel.

[2022-07-19 16:58] Jokeren commented on #589
What GPUs are you using? Is it V100 or any pre-AMPERE GPUs? I believe fused attention only supports AMPERE GPUs.

[2022-07-19 17:33] pearlli98 commented on #589
I am working to get an A100 but meanwhile, does 05 layer norm code also require A100? Is this bug I am seeing indeed related to the GPU or it could be because of other issues?

[2022-07-19 17:39] ptillet commented on #589
Layer norm uses cache eviction policies, which only provides benefits on A100 but shouldn't crash on earlier architecture. You'd need a recent CUDA version though. You can comment out the `eviction_policy=...` to make layer_norm work on earlier CUDA

[2022-07-19 17:43] pearlli98 commented on #589
@ptillet thanks, i removed the `eviction_policy=..` to make it work. Do you know what version of the CUDA does the original code need to run successfully?

[2022-07-19 17:44] ptillet commented on #589
CUDA 11.4+ should be sufficient

[2022-07-19 17:48] #589 closed

[2022-07-19 21:00] Jokeren commented on #586
@pearlli98 Could you please try out this branch? https://github.com/openai/triton/pull/590

[2022-07-20 15:42] pearlli98 commented on #586
@Jokeren i checked it out, changes in leaky_relu **_are reflected_** and automatically recompiled. However, I don't think pytorch and triton outputs the same results (both with and without activation) anymore.

[2022-07-20 18:11] pyjhzwh opened #592 "Compilation error when dtype=float16, but no error when dtype=float32"
Repro(although may not be a minimal one): [conv_relu_conv_relu_float16.py](https://gist.github.com/pyjhzwh/d9666e36ec7bd7963a0252ddb9351fbc#file-conv_relu_conv_relu_float16-py), [conv_relu_conv_relu_float32.py](https://gist.github.com/pyjhzwh/d9666e36ec7bd7963a0252ddb9351fbc#file-conv_relu_conv_relu_float32-py)
`call()` does the forward computation of
[code]
kernel 0 do the layout transformation (

[2022-07-20 21:47] Jokeren commented on #586
Thanks for letting me know! I just fixed the problem @pearlli98

[2022-07-22 17:38] Jokeren commented on #586
@pearlli98 Is there any additional feedback?

[2022-07-23 03:30] pearlli98 commented on #586
Not at the moment, thanks a lot

[2022-07-23 03:30] #586 closed

[2022-07-24 01:17] jansel opened #599 "Segfault from transpose+repeat pattern"
This repro is generated from the `attention_is_all_you_need_pytorch` benchmark in torchbench.  The original version had a lot of compute it, but I cut it down to just the load/store and still see the issue.

[code]

Output
[code]

[2022-07-24 01:56] ptillet commented on #599
:o I'll take a look. This is a simple kernel that shouldn't segfault.

[2022-07-24 03:08] #599 closed

[2022-07-24 03:09] ptillet commented on #599
This was a problem with the shared memory allocator thinking booleans need 1/8 = 0 bytes of shared memory 🙃 Let me know if you run into more issues!

[2022-07-24 03:11] jansel commented on #599
Awesome, thanks for the quick fix!

[2022-07-27 18:02] pyjhzwh opened #603 "map:at error when loading two tensors with same ptrs and masks"
repro:
https://gist.github.com/pyjhzwh/2ba871a53c2eac6575948467317bafa1

[code]
where x00_ptrs and x01_ptrs are the same, mask_x00 and mask_x01 are the same. But it will throw `map:at` error unless uncomment line 110 `acc += tl.dot(matrix_x01, matrix_w00)` OR uncomment line 95 `mask_x01 = mask_x00`.
But line 86-93 should do the same thing as line 95. I am not sure why the current code would throw

[2022-07-29 20:33] desertfire opened #605 "Interger division gives incorrect result"
The following example can reproduce the problem, where the returned tensor has some random positions being `1` instead of `2`.

[code]

cc: @jansel @ngimel

[2022-07-29 20:53] ptillet commented on #605
Note that the code you shared isn't int division, you'd have to use `//` for that. Right now, the code is calling `truediv` (which internally casts for float32, see https://github.com/openai/triton/blob/master/python/triton/language/semantic.py#L186-L189), and then implicitly casting the float result back to int.

[2022-07-29 21:01] ngimel commented on #605
For small values (here everything is less than 100) that shouldn't matter? `(a*2).float()/a.float()` produces all 2's in torch. I think what ends up happening is a/b turns into a*(1./b), that produces some ones indeed.

[2022-07-29 21:08] ptillet commented on #605
PTX has multiple approximations available for fdiv. The cuda / operator, which PyTorch probably also uses, translates to `div.rnd.ftz.f32` (see https://docs.nvidia.com/cuda/parallel-thread-execution/index.html#floating-point-instructions-div). Whereas Triton uses `div.full.ftz.f32` by default. Use `triton.fdiv(iee_rounding=True)` explicitly for more accurate results https://github.com/openai/trito

[2022-07-29 21:35] desertfire commented on #605
Thanks for the explanation. I confirmed changing to `tmp2 = tl.fdiv(tmp0 * 1.0, tmp1 * 1.0, ieee_rounding=True)` does make the result become all 2. As for the performance implication, we can do some measurement on torchbench models.

[2022-07-29 21:40] ptillet commented on #605
Cool! I'll close the issue but feel free to reopen it if you have more questions

[2022-07-29 21:40] #605 closed

[2022-07-29 21:40] ptillet commented on #605
Actually, was the multiplication by `1.0` necessary in fdiv? Did you encounter some type error without it?

[2022-07-29 22:09] desertfire commented on #605
Yes, it does trigger https://github.com/openai/triton/blob/923d468187082b2783233f4e7f37901e111804d8/python/triton/language/semantic.py#L226 without `* 1.0`.

[2022-07-29 22:13] ptillet commented on #605
I guess that's a clear enough error message, and strong typing here seems fair :)

[2022-07-29 22:39] desertfire commented on #605
Is it possible for triton to provide a flag to control the default behavior of `/`? With that, compilers like torchinductor can still generate the same Triton code but can compare results by setting the flag.

[2022-07-30 02:16] ngimel commented on #605
Behavior of `/` is correct and corresponds to python (`/` is true div, `//` is integer div), we just should correctly generate division operation so that by default it type promotes and produces floating point result.

[2022-08-04 02:05] linxihui commented on #589
I got exactly the same error with fused-attn on A100 GPUs with CUDA 11.4.  Any idea?

[2022-08-07 03:58] AaronLiu1997 opened #609 "Question regarding fused attention"
Hi!

I have a question about the fused attention example in the documentation: https://triton-lang.org/master/getting-started/tutorials/06-fused-attention.html#sphx-glr-getting-started-tutorials-06-fused-attention-py. Is this the flash attention algorithm with casual masking? It looks a little different from the algorithm in the paper. The reference torch attention function is called as

[code]

I

[2022-08-08 01:33] ptillet commented on #609
You'd also need to change the loop bound so that it goes through all the keys

[2022-08-08 12:59] AlexLuya opened #610 "compilation error:extern_lib.h:64:14: error: no template named 'map' in namespace 'std'; did you mean 'max'?"
extern_lib.h:64:14: error: no template named 'map' in namespace 'std'; did you mean 'max'?

My configuration: ubuntu 22.04 python 3.10 gcc  11.2.0

pass.cc:55:12: error: cannot initialize a parameter of type 'llvm::Pass *' with an rvalue of type 'llvm::ModulePass *'

llvm.cc:43:10: fatal error: 'llvm/Support/TargetRegistry.h' file not found

selection/generator.cc:334:69: error: no matching member

[2022-08-08 13:01] AlexLuya opened #611 "compilation error:extern_lib.h:64:14: error: no template named 'map' in namespace 'std'; did you mean 'max'?"
My configuration: ubuntu 22.04 python 3.10 gcc  11.2.0

When running make,a lot of erors got pump out:

extern_lib.h:64:14: error: no template named 'map' in namespace 'std'; did you mean 'max'?

pass.cc:55:12: error: cannot initialize a parameter of type 'llvm::Pass *' with an rvalue of type 'llvm::ModulePass *'

llvm.cc:43:10: fatal error: 'llvm/Support/TargetRegistry.h' file not found

selectio

[2022-08-08 15:43] pearlli98 opened #612 "Print values inside fused attention kernel"
I am trying to debug my fused attention code and would like to print some intermediate values such as the ptrs as well as the values loaded from the pointers. Is there a way to do this? Thank you!

[2022-08-08 16:33] AaronLiu1997 commented on #609
Got it, thanks!

[2022-08-09 03:16] ezyang opened #613 "Assertion '__n < this->size()' failed"
Repro:

[code]

This is on a V100 with CUDA 11.4. The error is

[code]

This is on cc7937622293aa4120207fd3a552fcd2af159b79

[2022-08-09 03:20] ezyang commented on #613
Here is the stack trace in gdb:

[code]

[2022-08-09 03:23] ezyang commented on #613
@ngimel tells me this might be because our compiler options are different; it doesn't repro in stock OSS.

[2022-08-09 03:40] ngimel commented on #613
This is probably the same issue reported here https://triton-lang.slack.com/archives/C01L1FLTX70/p1651178674388979

[2022-08-09 04:26] Jokeren commented on #613
It's an out of boundary error. A potential fix: https://github.com/openai/triton/pull/614.

There might be similar errors in the old code, but we are rewriting the backend completely.

[2022-08-09 20:25] pyjhzwh opened #615 "Different configs will give different outputs for the same kernel"
repro: https://gist.github.com/pyjhzwh/a19de7882aff600ee4472398b3017758

kernel 0 basically do matmul, then multiply the results by 1.0, the store it back to output buffer.
buf1 is the output buffer of kernel0 given the config as (BLOCK_M=64, BLOCK_N=256, BLOCK_K=32, SPLIT_K=1,num_stages=4,num_warps=4)
buf2 is the output buffer of kernel0 given the config as (BLOCK_M=128, BLOCK_N=256, BLOCK_K=32,

[2022-08-09 20:52] ptillet commented on #615
You are right. This seems like a bug with non-TF32 float32 inputs (!). The results match with `allow_tf=True` or by making the inputs float16. I'm sure it has to do with how triton re-coalesces results before writing them back to DRAM, when tensor cores aren't used.

[2022-08-09 21:44] pearlli98 opened #616 "Making fused attention work with GPUs other than A100"
I am curious why does the fused attention code only with A100? Is there a way to make it work on other GPUs such as Quadro GP100?

[2022-08-10 03:15] ptillet commented on #616
Right now there is a compiler bug that makes the `trans` arguments of `dot` not work on pre-ampere architectures. There is a way to rewrite the forward pass without transpositions, and this works on V100. But no such workaround exists for the backward pass right now.

[2022-08-10 12:32] #610 closed

[2022-08-10 18:13] yuguo68 opened #618 "question on return shape of tl.cat"
the ret_shape of tl.cat only has the size of the 0-dim,

https://github.com/openai/triton/blob/3e2953f3570acc807f975eee58f1565483841b72/python/triton/language/semantic.py#L480

Why is that? does tl.cat only supports 1D tensor?

[2022-08-10 19:32] ngimel opened #619 "`//` in triton does trunc division (c-style integer division, rounding to 0), not floor, like python"
This matters only for operands of the different sign that are not exactly divisible.
repro
[code]
tl;dr `5//(-2)` will be `-2` in a triton kernel, and `-3` in python.

[2022-08-12 23:28] jansel opened #620 "Segfault from `ZBLOCK=1` in 3D kernel"
[code]

[code]

[2022-08-14 17:58] tridao opened #621 "FlashAttention implementation gives wrong output when head dim != 64"
Hi @ptillet and the Triton team!
Super happy that FlashAttention is now implemented in [Triton](https://github.com/openai/triton/blob/master/python/tutorials/06-fused-attention.py) 🚀.

However, it seems to give wrong output when head dim != 64. For example, when head dim = 128, it seems to compute attention using the first 64 rows only (i.e. computing attention with q[..., :64], k[..., :64], v[...

[2022-08-14 22:02] ptillet commented on #621
Yeah the head dimension is hardcoded there https://github.com/openai/triton/blob/master/python/tutorials/06-fused-attention.py#L224. This just needs to be changed to 128 (and probably set `num_warps=8` for perf). This is more like a tutorial op, as I have no time to maintain kernels :)

[2022-08-15 04:43] half-potato opened #622 "Segfault on Summing Outer Product"
Code that triggers segfault:
[code]

Triton Version: Master Branch Commit 3e2953f3570acc807f975eee58f1565483841b72
Python Version: 3.10.5
Torch Version: 1.11.0
CUDA: cuda_11.7.r11.7/compiler.31294372_0

Stack Trace
[code]

[2022-08-15 07:03] Jokeren commented on #618
Line 480 is probably a bug, but doesn't cause crash in examples because `ret_ty.shape` is rarely used.

[2022-08-15 07:05] Jokeren commented on #612
Currently there's no way to print values from a kernel, but you can copy the values to a temporary buffer and print it out on the CPU.

I will work on the `print` function later.

[2022-08-15 07:07] Jokeren commented on #611
Looks odd. Probably because you were not using the LLVM version that triton supports?

[2022-08-15 07:07] #581 closed

[2022-08-15 18:19] DanielHesslow opened #624 "bf16->fp32 conversion issue."
Hello again, it's time for my monthly issue 😅
The conversion of from bfloat16 to float32 currently appears to be broken.

See the following repro:
[code]

Which produces this error:
[code]

Pinging @daadaada, since you appear to be the last to work on bf16 support.

Thanks :)

[2022-08-15 20:23] DanielHesslow commented on #624
Issue seems to be related to the recent change of the underlying type of bf16->int16, I believe `cvt.rn.f32.bf16` expects bfloat but gets i16.

Disabling the first branch and just using the fallback for <sm8.0, appears to be a workaround, but I guess there's some  overhead associated with that.

[2022-08-15 22:23] daadaada commented on #624
Hi @DanielHesslow

I can't reproduce this on my A100. Are you on the master branch?

And if possible, could you post the generated ptx code here?

[2022-08-16 02:10] MatthewCaseres opened #625 "Colab says AttributeError: module 'triton.language' has no attribute 'constexpr'"
This is the same issue as https://github.com/openai/triton/issues/550. The solution was to clone the repository locally and the assignee said they couldn't reproduce it on their local machine.

I open this issue to track the issue with installing it from pip on colab. Maybe this is nitpicky because the following sequence did remove error (after restarting runtime)

[code]
[code]
[code]

[2022-08-16 09:53] DanielHesslow commented on #624
Thanks for the quick reply. My dev machine is A6000, when relaunching it on another A100 it does indeed work alright. I don't believe there should be such a difference between A6000 and A100, so it's probably an issue with the setup on my machine. I'll keep this issue open for another few days while I try to hunt down the issue.

Thanks again!

[2022-08-17 12:16] ThibaultCastells commented on #625
I had the same issue on my laptop (Ubuntu 22.04.1)
I tried the proposed solution, and got this error when running the code again:

Could the 2 things be related, or is it a completely different issue?

[2022-08-18 01:36] nilsjohanbjorck opened #626 "Issues installing from source"
Hi, I am having some issues installing from source. I get the strange complaint `
  CMake Error: The source directory "/tmp" does not appear to contain CMakeLists.txt.`. Also, I see the message `  package init file 'triton/_C/__init__.py' not found (or not a regular file)`. Any advice? Thanks!

[code]

[2022-08-19 05:29] chaoming0625 opened #628 "Segmentation fault for a matrix multiplication operator"
Dear all, I want to use Triton to implement a matrix multiplication which computes $OUT = S * A * C$, where $S \in \mathbb{R}^{m}$, $A \in \mathbb{R}^{m * k}$,  $C \in \mathbb{R}^{k * n}$.

My implementation is in the following:

[code]

But unfatunately, I got an error of **Segmentation fault**. I don't know why. Can anybody help me? Thanks!

[2022-08-19 07:39] chaoming0625 commented on #622
I got a same problem. #628

[2022-08-20 06:55] #624 closed

[2022-08-21 10:03] donglinz opened #629 "How to dump triton IR?"
I love Triton so I'd love to dig a little deeper.

Given a code block decorated with @triton.jit

How to dump its IR? Such as Triton-C and Triton-IR?

Thanks.

[2022-08-21 18:57] Jokeren commented on #629
[code]

[2022-08-22 02:29] donglinz commented on #629
Thanks. Closing this issue.

[2022-08-22 02:29] #629 closed

[2022-08-22 08:22] donglinz opened #630 "Incorrect GEMM result when K is not multiple of 32"
I tried several triton-generated GEMM kernels with different shapes using implementation adopted from [Triton GEMM Tutorial](https://triton-lang.org/master/getting-started/tutorials/03-matrix-multiplication.html)

I noticed that the tutorial load from A and B matrix is unguarded by a mask thus I added the following masks to the GEMM main loop.

[code]

I then tried several GEMM shapes and get the

[2022-08-22 08:38] donglinz opened #631 "IndexError: map::at when calculate offset in tl.arange type"
I am trying to add a little bit of enhancement to GEMM implementation from [Triton GEMM Tutorial](https://triton-lang.org/master/getting-started/tutorials/03-matrix-multiplication.html) by supporting K that is not multiple of 32.

To do so, I calculate the offset along the K dimension and add masks when loading A and B from memory.

However, when I calculate offset via offs_k += BLOCK_SIZE_K, a er

[2022-08-22 08:51] donglinz commented on #625
@MatthewCaseres  I solved this by installing nightly release. The release on pip is too old.

[2022-08-23 03:33] ptillet commented on #630
Hello!

I believe that out-of-bounds data needs to be zero-initialized. Please take a look at https://github.com/openai/triton/blob/master/python/triton/ops/matmul.py for a reference implementation of a full-fledged matmul op

[2022-08-24 20:26] jansel opened #633 "Broadcasting issues with scalars"
[code]

We were hitting some errors related to single element writes at the end of a reduction.  In this case the mask is a bit pointless (`[[True]]`), but we need to generate workarounds for this.

[2022-08-25 23:50] jerryzh168 opened #634 "What is the expected perf for int8 matmul?"
Hi,

I compared the matmul perf in fp16 and int8, using the tutorial code in https://triton-lang.org/master/getting-started/tutorials/03-matrix-multiplication.html#sphx-glr-getting-started-tutorials-03-matrix-multiplication-py, and got the following result:
[code]
in A100 GPU. so for fp16 the TF/s is reasonable since the peak is 314 TF/s in tensorcore, for int8 it seems to be off by a lot, is this

[2022-08-25 23:53] ptillet commented on #634
Maybe the matrices are too small? There are microbenchmarks here https://github.com/openai/triton/blob/master/python/test/regression/test_performance.py and the perf should be pretty good.

[2022-08-25 23:57] jerryzh168 commented on #634
thanks for the quick response. just updated the size, it's relatively small in K dimension, do I need some special handling for that?
will try benchmarking the implementation in https://github.com/openai/triton/blob/master/python/triton/ops/matmul.py to see if I can get a better perf.

[2022-08-26 00:19] jerryzh168 commented on #634
it improved slightly if I use the official matmul.py from triton/ops:
[code]

but it does not match typical speedup numbers in https://github.com/openai/triton/blob/master/python/test/regression/test_performance.py#L54-L71

[2022-08-26 16:08] giorgio-arena opened #635 ""Invalid insertelement operands!" for bfloat16"
Hi, I'm trying to run the forward pass of the fused attention example using bfloat16 dtype for tensors instead of float16, and I'm getting a lot of errors like this one
[code]

Here's a reproducer, but it's essentially the forward pass of the fused attention example with the dtype changed to bfloat16
[code]

Running on an RTX A5000 with driver version 470.129.06, using CUDA toolkit version 11.0. I

[2022-08-27 03:23] daadaada commented on #634
@jerryzh168 Can you share the kernel here? I think int8 matmul performs best when `a` is row-major and `b` is col-major (this also applies to cublas & cutlass).

[2022-08-27 09:00] daadaada commented on #635
#636 should have resolved this

[2022-08-29 15:36] nynyg opened #638 "Error running 06-fused-attention.py"
Hi, I just compiled the newest master branch and tried to run `06-fused-attention.py` in tutorial by uncommenting the last line
[code]
However, I got these errors when running it:
[code]

[2022-08-29 16:35] jerryzh168 commented on #634
Hi, I'm copy pasting this kernel: https://github.com/openai/triton/blob/master/python/triton/ops/matmul.py and could not reproduce the perf result in https://github.com/openai/triton/blob/master/python/test/regression/test_performance.py#L54-L71, int8 is always at least 2x slower than fp16

[2022-08-29 22:54] jerryzh168 commented on #634
FYI maybe it's because I'm using dev mode to build the kernel, we are still trying to resolve a build issue in opt mode, the error right now is: "NotADirectoryError: [Errno 20] Not a directory: '/proc/self/fd/3/triton/code_gen.pyc'", please let me know if you can help with this as well, thanks

[2022-08-29 23:08] Jokeren commented on #634
Hi Jerry!

Can you copy and paste the call stack to this error?

Using dev or opt mode doesn't necessarily affect the kernel performance, as long as you are not measuring the warmup runs.

[2022-08-30 04:08] jerryzh168 commented on #634
Hi @Jokeren, here is the stack trace: https://gist.github.com/jerryzh168/f44c46dc0884ba8939a40e06b76f9d94, it works on dev mode btw.

[2022-08-30 04:47] daadaada commented on #638
Hi @nynyg. I can't reproduce this. Are you using an Ampere GPU?

[2022-08-30 05:01] Jokeren commented on #634
I think the problem is tricky but obvious.

`code/triton/python/triton/code_gen.py` this is what I got for `triton.code_gen.__file__`, but your `__file__`  refers to a pyc file.

According to https://peps.python.org/pep-3147/#file, `__file__` will always point its source py file in python3.

[2022-08-30 10:15] sophiawisdom opened #639 "'NoneType' object has no attribute 'get_predecessors'"
I'm getting an error `'NoneType' object has no attribute 'get_predecessors'` while attempting to customize the fused layer norm kernel. Practically this seems to be not too difficult to fix: just uncomment the line in the reproduction. However it seems plausible this is a compiler bug of some kind, so I wanted to point it out. This is an attempted minimal reproduction:

[code]

The value of the fi

[2022-08-30 13:03] nynyg commented on #638
Hi @daadaada, yes I used A100 for the test. How about you?

[2022-08-30 16:20] jerryzh168 commented on #634
ah, thanks, from the pep it says: "(in Python 2, it points to the pyc file)", maybe we are using python2?

[2022-08-30 16:58] Jokeren commented on #634
The stack trace on the top shows you were using python3, so it is confusing to me...

[2022-08-30 17:19] jerryzh168 commented on #634
right, I changed the command a bit and it works now in opt mode as well, the perf is indeed the same as dev mode...

[2022-08-30 23:43] jerryzh168 commented on #634
I think it might be because of the gpu frequency locking, I'm not able to lock the gpu clocks or memory frequency so most of the regression tests failed https://gist.github.com/jerryzh168/d831ce3fe0262628965eebfe6f77f07f

[2022-08-31 02:47] jerryzh168 commented on #634
I found the problem, looks like it's because of the layout (strides of the weight): https://github.com/openai/triton/blob/master/python/test/regression/test_performance.py#L97, is this just because of the way the specific matmul kernel was written, or is it something related to triton codegen?

[2022-08-31 06:49] sophiawisdom opened #640 "Segfault when compiling code storing tensors"
There seems to be an error with storing tensors, but only when something's been done to them. I spent several hours trying to trace it down, and have managed to figure out that a precipitating incident is when `get_block_shapes` is called on a `PointerTyID` instead of a `BlockTyID`. I'll continue working on this tomorrow to try to get a fix. Some preliminary stuff I wrote while debugging [is on th

[2022-08-31 13:22] daadaada commented on #638
I'm also using an A100. So this is weird 🤔
The error message says the ptx source is invalid. Maybe you can take a look at the generated ptx code.
Also make sure your cuda version is >= 11.0

[2022-08-31 17:19] Jokeren commented on #634
As mentioned by @daadaada

[2022-08-31 17:21] jerryzh168 commented on #634
yeah, didn't understand what that means concretely before, and looks like this restriction comes from TensorCore itself?

[2022-08-31 18:54] Jokeren commented on #634
I suppose it's indeed implementation related. Da can provide you more information.

[2022-08-31 20:51] ptillet commented on #640
Thanks for digging into this. We are hard at work rewriting Triton from scratch, and hope it will address a lot of these errors in the future :)

[2022-09-01 00:09] daadaada commented on #634
Yep, Ampere Tensor Cores require the layout. And the transposing of i8 matrices is slow. So make sure `a` is row-major and `b` is col-major in `matmul(a, b)`.

[2022-09-06 17:07] nynyg commented on #638
Hi @daadaada , I am using CUDA 11.4 and A100. However, after I remove Triton and compile the master branch it again, the issue I posted above still exsits. All other tutorials work though apart from the fused attention.

[2022-09-06 17:11] ptillet commented on #638
Can you post the specific line that causes an error? In your message above, `/tmp/fileOTTBHd` at line 4004. Maybe you have the driver for CUDA 11.4 but `ptxas --version` returns something lower?

[2022-09-06 17:16] nynyg commented on #638
Hi @ptillet, could you please tell me how can check the specific line? I checked that there was no `/tmp/fileOTTBHd` file after I run the script.

[2022-09-06 17:20] ptillet commented on #638
I guess you'd have to comment https://github.com/openai/triton/blob/master/lib/driver/llvm.cc#L246. But my guess is that your version of `ptxas` is too old. Can you run `ptxas --version`?

[2022-09-06 17:35] nynyg commented on #638
Sorry I just checked that my CUDA version is **11.3 not 11.4** as I mentioned above (checked by running `nvcc --verion`). And `ptxas --version` returns the same:
[code]
This is the `nvcc --version` outputs:
[code]

[2022-09-06 22:23] sophiawisdom commented on #328
If this code is run on current master, it fails with `AssertionError: small blocks not supported!` due to `vec_ptr` and `out_ptr` being `D_VEC` by 1.

[2022-09-06 23:14] yd2102 opened #641 "Reshape from 2D to 3D fails when compiling to Triton IR"
Hello, while I was trying to author a Triton kernel that performs part of the Bert attention computation, I ran into the following error:

[code]

My computation is essentially equivalent to [this](https://github.com/huggingface/transformers/blob/main/src/transformers/models/bert/modeling_bert.py#L315) line of code. What I intend to do is to compute a matrix multiplication, reshape the dot product

[2022-09-07 12:38] pommedeterresautee opened #642 "what max_contiguous and multiple_of are useful for in matmul kernel from ops folder"
I am wondering what is the meaning of these lines:

[code]

At first, I was thinking that `max_contiguous` and `multiple_of` was tips for the codegen process, and that `rm == ram`, `rn == rbn`, it was just used so the compiler see they are useful and not dead code.

After having done some tests, I am not sure anymore, would it be possible for you to explain that part?
Not sure if it's linked, but

[2022-09-07 16:40] pommedeterresautee commented on #642
sorry, got it. Closing.

[2022-09-07 16:40] #642 closed

[2022-09-07 16:50] pommedeterresautee opened #643 "Is there a way to fuse an activation with a matmul when using split K"
Split K strategy (matmul operation) executes several Triton programs in parallel to compute the same block of C (C being the output of the matmul).
We can apply activation on a block of C only if the computation of this block is finished, aka all splits have been processed.

The issue I have is how to know if I am in the last split?
I thought to store a counter of processed split in a dedicated te

[2022-09-07 17:30] ptillet commented on #643
In this case, I see two options:
- Not using split-k. This optimization is most useful when the computation is not bound by the write-back of the output result. Chances are that if you're in this regime, you won't gain that much from fusing the activation function.
-  Do the thing you suggested with `atomic_add`, initializing the counters to an upper bound of the number of blocks that will be laun

[2022-09-08 16:57] pommedeterresautee commented on #643
Thank you for the pointer, after little adaptations it worked as expected.
Unfortunately, as you wrote, the read/write latency to update the locks/counters made the fusion worthless :(

There is one thing I don't understand, why a while loop is used?
Why not just use an atomic add to keep the counter updated, without any need to write in a "locker" tensor?
And last question, does calling an atomic

[2022-09-09 14:00] pommedeterresautee commented on #643
After deeper analysis of an implementation of split K with fused activation leveraging atomic add instead of the while loop + locks, we understood something obvious now: in `split K`, for each split we write in fp16 to output tensor, so accumulation is partially done in FP16, which reduces accuracy!

In our case, we thought that we had concurrency issues and that atomic add was not working as we w

[2022-09-09 14:00] #643 closed

[2022-09-09 19:23] ptillet commented on #643
Yeah, `fp16` atomics are definitely not great :p I would consider writing the output to float32 if you aren't in a situation where the output matrix is too big.

[2022-09-12 06:57] #625 closed

[2022-09-12 19:27] ptillet opened #645 "[ROADMAP] Triton-MLIR initial release roadmap"
This issue is meant to summarize what needs to be done to the `triton-mlir` branch before it can be merged into the main branch. It is not exhaustive, and has room to grow.

### Frontend:

- [x] Define the specs of Triton-IR, our frontend-facing MLIR dialect
- [x] Change Triton's ASTVisitor so that it produces Triton-IR code
- [x] Ahead-of-time / Kernel launch refactor

### Optimizer:

- [x] Defin

[2022-09-12 19:33] ptillet opened #646 "[TRITON-MLIR][FRONTEND] Buggy for loop codegen"
[code]

`loop` doesn't yield `acc` to the next iteration. As a result "cse" will remove the loop (output "ttgir" to see the loop disappear).  Note: the issue doesn't show up `acc = tl.zeros([BLOCK_M, BLOCK_N], dtype=tl.float32)` .

[2022-09-12 19:34] ptillet opened #647 "[TRITON-MLIR][OPTIMIZER] Improve pipeline unit test"
Our unit test for the [loop pipelining pass](https://github.com/openai/triton/blob/triton-mlir/test/TritonGPU/loop-pipeline.mlir#L19) should match `insert_slice` and `extract_slice`. Right now, if we get the indices wrong (as was the case before) the test still passes

[2022-09-12 19:39] ptillet opened #648 "[TRITON-MLIR][FRONTEND] Deprecate `triton-translate` and use `triton.compiler` submodule for unit tests"
Right now there is some code duplication, as the `triton-translate` utility does a subset of what the `triton.compiler` submodule is capable of. We should unify both so we don't have to maintain `triton-translate` when our optimization pipeline changes.

[2022-09-14 21:26] #525 closed

[2022-09-15 00:20] yd2102 opened #656 "Accessing slices of a tensor"
Hi,

I am trying to modify the LayerNorm sample code in such a way that the intermediate computations are stored in shared memory to avoid recomputation. That is, I want to store the result of "(a - mean)" to shared memory. I am trying to experiment if saving the result benefits the performance in cases where the normalization dimension is small (but still larger than block size).

Basically what

[2022-09-15 00:20] yuguo68 commented on #645
excited to see the new MLIR backend. Does the todo item "Codegen for dot (high)" imply matmul is not working yet?

[2022-09-15 00:24] ptillet commented on #645
Yes that's correct. It will take some time, but we wanted to open-source what we have so far so people interested in non-nvidia backend could start looking at the Triton dialects.

[2022-09-15 00:25] ptillet commented on #656
Yeah, slices aren't yet supported in Triton.

[2022-09-15 17:16] yd2102 commented on #656
Thank you! Two more questions:
1) Is there plan to support tensor slicing in Triton kernels? It allows for granular access to those allocated tensors.
2) When I allocate tensor like this `tmp = tl.zeros([TMP_LEN])` is it placed on shared memory and spilled to HBM only when it doesn't fit in shared memory?

[2022-09-15 18:11] Jokeren commented on #656
1. It won't be straightforward as we'll have to exchange data across threads. @ptillet I think it might be possible with a convert layout op that stores values to the shared memory first then grabs data from the shared memory.
2. Registers. You don't explicitly allocate any shared memory data.

[2022-09-15 20:26] ludgerpaehler commented on #50
@ptillet Enzyme maintainer here, we actually can do GPU these days - have been intrigued to see if Enzyme can handle Triton without adding new custom primitives for the adjoint generation. From having read the paper, and sifted over the code, Triton is essentially generating a reduced subset of LLVM IR?

Is there a switch inside of Triton to inspect the generated IR? Would be happy to give a proto

[2022-09-15 22:14] jerryzh168 commented on #634
resolved. thanks everyone for help!

[2022-09-15 22:14] #634 closed

[2022-09-15 23:38] ptillet commented on #656
There is a plan to support them, probably after triton-mlir is merged. As @Jokeren mentioned, we could probably get some slow support working pretty easily, but getting it right (i.e., using warp-shuffles when appropriate, or even just shuffling data within the same cuda thread when applicable) will take time.

[2022-09-15 23:38] ptillet commented on #647
done in #660

[2022-09-15 23:38] #647 closed

[2022-09-19 06:35] ptillet commented on #50
@ludgerpaehler Thanks for reaching out :) I think my main worry isn't so much whether it can be done, but how efficiently it can be done. I've thought about the problem a bit, and I don't think something like matmul could be auto-differentiated into an optimal backward pass -- let alone flash attention. There would likely still be some utility to having a slow-ish backward pass though, as long as

[2022-09-19 06:40] ludgerpaehler commented on #50
@ptillet I don't want to say too much and overpromise, but it is something we are looking at very closely and something which we are very keen to pursue. Are you going to be at the US LLVM Dev meeting in San Jose? Would be happy to discuss more in-depth in person (or via mail) :)

[2022-09-19 06:50] goostavz opened #673 "[Triton-MLIR] Remaining issues in migration"
## Update in 2022-11-19, remaining issues from backend point of view

- Dot
   - [x] corretness of mma v2 when a/b is not default order @Superjomn
   - [x] corretness of mma v2 when a/b is transposed @Jokeren @ptillet
   - [x] correctness of mma v1 @Superjomn
      - [x] backend failure when ptxas @Superjomn
      - [x] pipeline pass that support mma v1 @Jokeren
      - [x] gpucombine pass assigni

[2022-09-19 09:05] Jokeren commented on #673
FYI, I plan to take a look on `shared → mma` this week. Hope it doesn't conflict with your plan.

[2022-09-19 10:21] goostavz commented on #673
Chunwei is now working on the current "mma codegen", (including load A/B from shared memory and mma, in the current mma ir, mma takes its input from shared layout, which will be decomposed into convert_layout(shared->mma) + mma(mma in/mma out) in the future ). The support of convert_layout(shared->mma) should just be some refactor on the code Chunwei is developing for now. So in my understanding,

[2022-09-19 11:03] pommedeterresautee opened #674 "Flash attention forward pass failing on fp32"
Hi, I was trying to make flash attention support fp32 (mostly for compatibility reasons) but output is not matching reference implementation by a large margin.

I did only 2 modif:
* `p = p.to(tl.float16)` -> `p = p.to(Q.dtype.element_ty)`
* change block size from 128 to 64

I kept in the code below only Fw pass.
Tests are passing for both `FP16` and `BF16` but not `FP32`.
FP32 output fails by a v

[2022-09-19 11:51] goostavz commented on #673
BTW, i may need to confirm it first: do you refer to the support of convert_layout(shared->mma) in TritonGPUToLLVM, or, decomposing of dot(shared->mma) into convert_layout(shared->mma) + dot(mma->mma) in the optimizer?

[2022-09-19 12:00] Superjomn commented on #673
Yeah, I am porting the dot codegen to mlir, and here is the WIP [PR](https://github.com/openai/triton/pull/672). I've almost finished the mma16816-related logic, leaving the mma884 and fmadot WIP.

According to the [discussion](https://github.com/openai/triton-mlir/discussions/107#discussioncomment-3592802):

[code]

I plan to port the original `visit_dot_instr` to mlir. This function includes bot

[2022-09-19 14:37] ptillet commented on #673
Let me summarize the plans, just for the sake of clarity:

On our side:
- @daadaada  is working on https://github.com/openai/triton-mlir/discussions/104, that is: (1) Adding MatmulDotOperand<OutputLayout>; (2) changing the input layout requirements of `mma_inst` to take `MatmulDotOperand<OutputLayout>` as inputs; (3) Decomposing the `mma` instructions in pipelined matmul loops into two `mma` instr

[2022-09-19 14:49] yangjunpro commented on #673
@ptillet  for reduction codegen, another NVIDIA colleague is working on that, he should be capable of submitting the PR in one or two weeks.  @goostavz  knows more than me with the detailed plan since he is helping coordinate the work in my team.

[2022-09-19 17:37] Jokeren commented on #673
@Superjomn Thanks for the heads up. Yeah, I believe your are right. I'll go read your code for now without applying changes.

To accommodate the prefetch optimization, we will take out the shared memory load logic from the triton.dot, but code generation part should be mostly the same.

[2022-09-19 20:21] sanghonline opened #675 "int4 support"
Hi, is there a plan or an ongoing work to enable int4 data type in triton using a100?
if there is an already branch, can I take a try?
thanks

[2022-09-19 21:18] Jokeren commented on #675
Not that I know of

[2022-09-19 22:21] sanghonline opened #676 "vector operation before the dot product in a loop"
Hi,
I found that triton gives a segmentation fault when there is a pre vector processing like vector-to-vector addition or bitwise masking or shifting.
An example can be easily made from the 3rd matmul tutorial example.
If I add a line to add a constant between the load and dot product as shown below, it crashes with a segmentation fault

`    for k in range(0, K, BLOCK_SIZE_K):
        a = tl.loa

[2022-09-19 23:31] sanghonline commented on #676
I found the work-around by making it as close as possible to the flash attention codes in the tutorial
basically, I am running int8 GEMM and the following works
[code]

it does not need to store and to load the data as in the flash attention example but the way it computes the pointers has to be changed and it looks it's a bug. as reference, the followings do not work but gives segmentation faults

[2022-09-20 00:03] sanghonline opened #677 "Performance degradation in matmul when there is no explicit variable for pointer arithmetic"
Hi,
let me report a matmul performance degradation, which is found from the experiments in [https://github.com/openai/triton/issues/676#issue-1378591145] (url).
For fp16 matmul examples in tutorial,
If I modify the main dot product for-loops to compute the next pointer inside of the tl.load() unlike the original code that has specific lines to compute it, the perf goes down significantly, e.g., 11

[2022-09-20 03:39] zyan0 opened #679 "Negative value in constexpr cause LLVM ERROR: Symbol name with unsupported characters"
Simple repro

[code]

This will give `LLVM ERROR: Symbol name with unsupported characters`.

I assume this might be due to how we create the function name in [mangle_fn](https://github.com/openai/triton/blob/49f6bc3f2b128ed899c875c0b98bab5c982b8267/python/triton/compiler.py#L72). Since we append the value of a constexpr to the function name, a function name that cannot be compile in LLVM might be

[2022-09-20 04:21] ptillet commented on #679
Yes, you are right. The name mangling is not good. Thanks for reporting, I will address it.

[2022-09-20 04:23] ptillet commented on #677
Yeah, I am not surprised. The current loop pipelining pass only works in the first case that you described. Once the compiler rewrite is merge, we should be able to make it more robust

[2022-09-20 08:20] pommedeterresautee commented on #674
FWIW, did a little experiment, if I convert output tensor `o` and `v` tensor in fp32 before sending them to the Triton kernel, float16 and bf16 tests pass so precision issue is probably not related to them.

For `q` and `k` vectors, if converted to float32 (and triton code adapted to compile), tests are failing.
I tried a bunch of variations but like in issue https://github.com/openai/triton/issue

[2022-09-20 13:08] jonathlela commented on #674
Hi, I've the same issue with flash attention, it crashes when I try to run it with fp32.

[2022-09-20 14:20] goostavz commented on #673
I'm working on the rest of the layout_conversion now. I think these two are necessary for our next mile stone (basic gemm without nbuffer/prefetch optimization):
(1) blocked->shared
(2) mma->blocked
In my understanding (2) will not be that important for the longer term (it should be replaced with  tensor.insert_slice_async to support LDGSTS in my understanding), but it is necessary for the moment.

[2022-09-20 15:38] Jokeren commented on #673
How this is related with LDGSTS?

I think @daadaada will take care of the prefetch optimization.

Sounds good. `tensor.extract_slice` is straightforward but will eventually be replaced by `memref.subview`. Since `tensor.insert_slice_async` will use the `async` modifier in the load operation, I think a bunch of code will be similar to  `LoadOpConversion`.

[2022-09-21 00:26] goostavz commented on #673
Sorry it was a typo. 1 (not 2) is related with LDGSTS.

In this [thread](https://github.com/openai/triton-mlir/discussions/107):
load A/B tile into shared memory is represented via a load and a convert_layout(blocked->shared).
In my understanding this should be replaced with tensor.insert_slice_async in order to support LDGSTS.
Pls correct me if i'm wrong.

[2022-09-21 00:39] ptillet commented on #674
I think it's a bug 🙃 There are a lot of stability issues in the compiler, and flash attention seemed so important I modified the compiler a lot for it. And when I got the FP16 version production-ready I sort of stopped working on it, and decided to switch gears on rewriting the compiler from scratch to avoid further issues like this in the future. It's moving forward though, so the best answer I c

[2022-09-21 00:47] ptillet commented on #673
Yes, there are two ways to write the matmul loop so that the tiles of A and B end up being loaded from DRAM to shared memory:
1) load + convert_layout(blocked->shared). Necessary for V100.
2) tensor.insert_slice_async. Gets eventually lowered to LDGSTS.
On architectures that have LDGSTS, the pipeline pass converts method 1) into method 2)

[2022-09-21 06:05] sanghonline commented on #677
thanks for the reply. so is that the rewrite is ongoing and will be merged soon?

[2022-09-21 06:50] pommedeterresautee commented on #674
thank you @ptillet it's very clear, will just add an assert on dtype :-)

FWIW current code works well in FP16 on A10 and 3090 too :-)

[2022-09-21 06:50] #674 closed

[2022-09-21 14:33] linxihui commented on #634
@jerryzh168  Did chaning the layout of matrices makes int8 matmul faster? I am still getting worse latency using int8. Can you share your experience here?

[2022-09-21 16:49] shintaro-iwasaki opened #687 "[pybind11] Triton compilation fails with Clang due to old pybind11"
## Problem

Compiling Triton with Clang fails (the following error).
[code]

The problem is in `pybind11`. More specifically, I guess I am hitting this issue: https://github.com/pybind/pybind11/pull/1957. I encountered this issue while compiling Triton-MLIR, but I believe I will have the same problem in the `master` Triton (https://github.com/openai/triton/blob/master/python/src/pybind11/pybind11.

[2022-09-21 17:00] Jokeren commented on #687
It's probably because you are using a slightly newer version of clang than us. I think you can try to upgrade pybind11 by copying the latest source code (or the latest release).

[2022-09-21 17:06] shintaro-iwasaki commented on #687
Thanks. I got it. I will create a PR.

[2022-09-21 18:11] shingjan opened #688 "`/usr/bin/ld: cannot find -lz` while installing triton from source"
Trying to install triton from source according to the guide [here](https://triton-lang.org/master/index.html).

My setup is ubuntu20.04 with cuda 11.3 and llvm-11.

Complete stacktrace:
[code]

[2022-09-21 19:28] ramiro050 opened #690 "No module named 'triton.code_gen'"
Hi, I'm trying to import `triton.code_gen`, but python is unable to find the module. I am building from source by doing

[code]

and the installation succeeds without any errors.

The only modules that I am able to access after installation are: `compiler, runtime, utils, language, testing, ops, tools`.

Are the pybind Python bindings installed in a different location?

[2022-09-21 19:50] ptillet commented on #690
`triton.code_gen` has been split into `triton.compiler` and `triton.runtime`. Sorry for the inconvenience

[2022-09-21 21:01] ramiro050 commented on #690
I see, thanks!

[2022-09-21 21:01] #690 closed

[2022-09-21 23:11] shintaro-iwasaki commented on #687
Created #691. I would appreciate your reviews!

[2022-09-22 03:18] #687 closed

[2022-09-22 11:29] cchan commented on #688
`sudo apt-get install zlib1g-dev` solved this for me.

[2022-09-22 17:17] shingjan commented on #688
Thanks! @cchan It did for me as well. Just wonder if `zlib1g-dev` should be part of the triton's dependencies.

[2022-09-22 19:46] scottlegrand opened #695 "triton.language.constexpr nonexistent?"
Trying to run the very first tutorial, I get:

~/triton/python/tutorials$ python 01-vector-add.py
Traceback (most recent call last):
  File "/home/slegrand/triton/python/tutorials/01-vector-add.py", line 27, in <module>
    BLOCK_SIZE: tl.constexpr,  # Number of elements each program should process
AttributeError: module 'triton.language' has no attribute 'constexpr'

Is this something dumb on my

[2022-09-22 19:55] #695 closed

[2022-09-22 23:32] ptillet commented on #688
It's a bit tricky to add a dependency for the C++ part of the source-code. But I'll see if I can straight up remove the dependency on gziplib, which I think comes from LLVM.

[2022-09-22 23:33] ptillet commented on #675
There is no branch at the moment. If INT4 proves useful, we'll add it. Just a bit tricky because AFAIK LLVM doesn't have a type for it.

[2022-09-23 09:33] NouamaneTazi opened #698 "kernel() missing 1 required positional argument: 'XBLOCK'"
Getting this issue when trying to optimize a model with torchdynamo - triton
[code]
Any idea where could that come from?

[2022-09-23 14:23] ptillet commented on #698
Probably a bug in the new runtime. Can you share a minimal reproducible example?

[2022-09-23 22:44] yd2102 opened #705 "Returned shape of "tl.cat""
Hi,

I'm running into an issue where I simply cannot concat two tensors on the outermost dimension. For example, I'm trying to write a kernel doing the following computation:

[code]

It appears that in my Triton kernel, "tl.cat" just returns a tensor of shape (2,), which is not expected (should be (2,16)). Here's the full kernel code where I set `BLOCK_SIZE_ROW=1` and `BLOCK_SIZE_COL=16`:

[code]

[2022-09-24 09:40] NouamaneTazi commented on #698
[code]

[2022-09-24 12:25] rayleizhu opened #707 "Dynmic indexing surpport?"
I wanna know if dynamic indexing is supported in triton. For, example, can I load a value tensor based on another index tensor instantiated at runtime like below?

[code]

I've read all tutorials in the official docs, all loading is based on static indexing with tl.arange(). Before I try triton for my project, I just want to confirm if dynamic indexing is supported, this  is important to me.

[2022-09-24 17:07] Jokeren commented on #707
Can you check the block sparse kernel?

https://github.com/openai/triton/blob/master/python/triton/ops/blocksparse/matmul.py#L150

[2022-09-26 07:01] rayleizhu commented on #707
Thanks, my application is very similar to the block sparse example, it is expected to help a lot. By the way, why is this example not listed in the tutorials? Does its performance match the original CUDA version?

[2022-09-26 07:10] ptillet commented on #707
Right now, tutorials and `triton.ops` serve a different purpose, as `triton.ops` contain supported op that are usable in production workloads. Tutorials are kind of "use at your own risk".

Hard to say because there is AFAIK no CUDA equivalent of the Triton blocksparse kernel. But AFAIK, it's the fastest public block-sparse code in existence for the applications I care about :p

With type hints. I

[2022-09-26 19:39] ptillet commented on #705
Yes, please do not use `cat` :D It's very hacky and unsafe, and was just introduced to address an immediate need I had to concatenate random numbers efficiently. It will be cleaned up and fixed up in a few months.

[2022-09-26 19:42] stephen-youn opened #713 "a bug with a double loop"
Hi,
I found that when there is a double loop in triton code where the first (outer) for-loop takes non-constant in its range setting, it gives incorrect results (i.e. incorrect numerical values than the reference).

here is an example of the failing case

[code]

if i replace the "K" in the first range in the loop with a constant like 256, it gives correct result but if i pass 256 to K as argument

[2022-09-27 00:46] ngimel opened #714 "tl.constexpr annotation leads to invalid generated code"
Repro https://gist.github.com/ngimel/c836e2366348bd8aef76fc61fa395821 (sorry it's large, but I couldn't make it smaller - it started passing). With tl.constexpr annotations on `xnumel` and `rnumel` kernel arguments it results in `RuntimeError: CUDA error: an illegal memory access was encountered`, when `xnumel` and `rnumel` are regular args then the kernel works.

[2022-09-27 00:51] ptillet commented on #714
:o What triton commit is it? I wonder if it's a bug that was introduced by the new runtime.

[2022-09-27 00:53] jansel commented on #714
I assume this is old runtime since https://github.com/pytorch/torchdynamo/pull/1338 hasn't landed yet.

[2022-09-27 00:54] jansel commented on #714
(https://github.com/pytorch/torchdynamo/pull/1338 slows down compiles enough that our CI is timing out and preventing landing)

[2022-09-27 00:54] ngimel commented on #714
It's 889d9e34, right before the new runtime

[2022-09-27 11:43] goostavz opened #717 "[Triton-MLIR] TritonGPU/Combine pass hang"
The script to reproduce it:

[code]

This will cause dead loop in TritonGPU/Combine pass, PullConversionToSource pattern is repeatedly activated.

[2022-09-27 12:13] NouamaneTazi commented on #698
Fixed for now by installing `pip install triton==2.0.0.dev20220830`
So it does seem to be related to the new runtime

[2022-09-27 15:10] ptillet commented on #698
Would it be possible to get a more minimal repro than that, i.e. just the Triton kernel, like e.g. #599  ? I can help but I don't have the bandwidth to bisect the faulty kernel myself

[2022-09-27 19:19] sanghonline opened #719 ""IndexError: map::at" crash when there are two dot-products in the loop and two writes back to memory after the loop"
Hi,
Here is another issue in triton with the following code that occurs when there are two dot-products in the loop and two writes back to memory after the loop.

[code]

[2022-09-27 19:46] sanghonline opened #720 ""if-else" problem in the loop"
Hi,
I also get the "AttributeError: 'NoneType' object has no attribute 'get_predecessors' whe" error when there is if-else inside of the loop.
the example code is as follows

[code]

[2022-09-27 21:45] sanghonline opened #721 "Segmentation faultin dot-product loop that only A pointer updated in every iteration but only once in two for B (in A * B matmul)"
Hi,
I also find an issue of the hanging with the following code.
the example is tried because of this [issue ](https://github.com/openai/triton/issues/720#issue-1388277645)
but this version does not work either and triton looked hanging but at the end gave segmentation fault.
[code]

[2022-09-28 00:23] ptillet commented on #717
Fixed in #718 . When the layout conversion simplification adds some additional conversions that cannot be removed, this triggers an infinite loop. Ideally we'd want each pattern to guarantee that it cannot add more layout conversions than it removes, but this is probably a long way as patterns rely on one another to keep things simple right now.

[2022-09-28 22:23] sanghonline opened #723 "allclose()'s tol argument value is fixed to 1e-2"
Hi,
there is a bug in allclose function in testing.py that tol argument is always fixed to 1e-2
([link](https://github.com/openai/triton/blob/master/python/triton/testing.py#:~:text=(y)-,tol%20%3D%201e%2D2,-err%20%3D%20torch))
i tried to make a branch and make a pull request to make this small fix but it seems it doesn't allow me.
can u guys fix it?
thanks,

[2022-09-28 22:31] ptillet commented on #723
Thanks! Will be fixed in #724

[2022-09-28 22:31] #723 closed

[2022-09-28 22:34] ptillet commented on #721
I wish I had a better answer for you, but the existing backend makes it very hard to fix these kinds of issues. When the rewrite is done, we'll address this issue. Thanks for your patience :)

[2022-09-29 13:47] GJBoth opened #725 "Support for (I)FFTs"
What is the current support for fourier transforms? Can triton call CuFFT? I figured it would be accesible through libdevice but it doesn't mention anything. Thanks!

[2022-09-30 10:15] NouamaneTazi commented on #698
Can't seem to reproduce this issue anymore, so I'm gonna mark as closed for now. Thanks for your help

[2022-09-30 10:15] #698 closed

[2022-10-01 02:01] AaronLiu1997 opened #730 "Tutorial for flash attention gives AssertionError"
I am trying to run the tutorial but it fails when testing that the output is close:

[code]

I just installed triton with `pip install -U --pre triton`. Is this issue expected? Thanks!

[2022-10-01 02:32] ptillet commented on #730
Seems like https://github.com/openai/triton/commit/7394d732adcec5a67034926a28080af2a7853217 broke the flash attention tutorial but that's on me for not noticing earlier due to poor tutorials CI. I've just fixed it in https://github.com/openai/triton/commit/b244db06da24a87453a40ad35b085ee37dac3705

[2022-10-01 02:34] ptillet commented on #725
Hello. Triton is a low-ish level kernel language, so calling cuFFT is not applicable. Besides, due to the lack of indexing operations in Triton, I don't expect that it's possible to write a Triton FFT kernel today.

[2022-10-01 20:18] #532 closed

[2022-10-02 01:49] AaronLiu1997 commented on #730
It runs now, thanks!

[2022-10-02 01:49] #730 closed

[2022-10-02 03:27] Shenggan opened #731 "fixed path for cuda header path"
Hi, I find that `cu_include_dir` fixed to `/usr/local/cuda/include` which make cuda with custom installation path not working.

https://github.com/openai/triton/blob/998fd5f9afe166247f441999c605dfe624ca9331/python/triton/compiler.py#L1121

Maybe it's better that use environment variable `CUDA_HOME` or `TRITON_CUDA_PATH` with default value `/usr/local/cuda/include`.

[2022-10-02 10:18] pommedeterresautee commented on #675
@ptillet may be you have seen this (recent) paper -> https://openreview.net/forum?id=tcbBPnfwxS (link to cuda code included for reproduction)
int4 quant of very large models with little hit on perf, and... no need to retrain (🎉)!
With bit and bytes stuff, I guess those approaches will replace the old QAT, etc. for LLM at some points.

Your last comment is because you are reusing types available ou

[2022-10-02 20:59] AaronLiu1997 commented on #609
For the forward pass, this worked perfectly! For the backward pass, I assume that the line

[code]
should be removed. However, that is not enough to get bert-style attention when I do it. Do the loop bounds also need to be somehow changed for the backward pass? Thanks!!

[2022-10-03 10:39] GJBoth commented on #725
Thanks for the response! I'd consider FFTs pretty low-level too tbh... In any case, shame as I was hoping to use triton for a project but it requires FFTs...

[2022-10-03 10:39] #725 closed

[2022-10-03 16:46] #609 closed

[2022-10-03 16:57] AaronLiu1997 opened #734 "Tutorial crashes when using bfloat16"
Is the flash attention tutorial expected to work in bfloat16? After the pull https://github.com/openai/triton/pull/636/commits/733d8d1ae72bf498cd8d9af65bc130cd2a76a86b it seems like it should. When I run the tutorial with

[code]

I get the following error (after using `p = torch.softmax(p.float(), dim=-1).to(dtype)` instead of `p = torch.softmax(p.float(), dim=-1).half()`):

[code]

Thanks!

[2022-10-03 20:59] ptillet commented on #734
cc @daadaada does flash attention support bf16?

[2022-10-04 04:42] pommedeterresautee commented on #734
@AaronLiu1997 it does work (at least fw pass, not tested bw), you need to replace hardcoded type in the kernel.

[2022-10-04 21:52] ngimel opened #737 "No `other` branch in tl.load leads to invalid results, even though all other values are masked out"
Repro below. Generated ptx looks valid in both cases, with only difference in movs with `@!pxx` as expected . Happens with fp16, float32 is ok.  I'm deliberately setting `other` to `nan` to make sure that it's all masked out, results are always non-nan. If `other` kwarg is not specified, first 2 columns of result are random. I've tried trimming down loads further, but it looks like 3 loads is the

[2022-10-04 22:13] Jokeren commented on #731
Agree, can you create a PR for this issue?

[2022-10-05 03:13] Shenggan commented on #731
Thank you. PR merged.

[2022-10-05 03:13] #731 closed

[2022-10-05 05:13] ngimel opened #741 "Wrong results where one of the args is assigned to constant inside the kernel"
This might be related to #714. Repro (comments inside, requires torchdynamo unfortunately), tl;dr if the kernel has `xnumel=<const>` where `xnumel` is also a kernel arg, and <const> is equal to the value of `xnumel` that is passed to the kernel (so should be a no-op, or even if it's used for optimization, shouldn't change results) it produces wrong results. Note that this is using the new runtime,

[2022-10-05 05:37] ptillet commented on #741
I am tracking down a major bug that was introduced with the shared signature entry point. I suspect this is also related.

[2022-10-05 05:42] ptillet commented on #741
Hmmm https://github.com/openai/triton/pull/742/files was a bug in the JIT so this shouldn't affect users of the compilation API, and this was also for constexprs that aren't clustered at the end. I'll dig deeper into this case

[2022-10-05 16:08] ngimel commented on #741
JIT produces wrong values in both versions of the kernel, with compilation API one kernel is correct and one is wrong, so it still might be related to #742, let me check.

[2022-10-05 17:55] ptillet commented on #741
Setting `divisible_by_16=(0, 1, 2, 3)` in the first kernel also leads to failure, which confirms that this is an issue with vectorization rather than constexprs. Indeed vectorization shouldn't be allowed, since `x0 + (1000*tmp0)` does not correspond to a contiguous range.

Setting
[code]
(i.e., just adding parentheses) also seems to resolve the issues. So my money is that there's a bug deep down i

[2022-10-05 19:17] ngimel commented on #741
Thanks! Adding parentheses for indexing math is totally doable on our side!

[2022-10-05 22:48] stephen-youn opened #743 "bfloat16 matmul performance is worse than float16 matmul"
Hi,
the throughput of bfloat16 x bfloat16 matmul is worse than float16 x float16 matmul.
for example, for M=N=K=4096, the 03-matmul tutorial example gives
214 tflops for float16 matmul in a100
but 185 tflops for bfloat16 matmul.
isnt it supposed to give a similar performance like cublas matmul in torch?

float16-matmul-performance:
        M      cuBLAS      Triton
0  4096.0  212.706392  214.40531

[2022-10-05 22:51] ptillet commented on #743
Yeah it's supposed to give the same performance. I haven't done much bfloat16 work, but I suspect it's osmething minor like maybe a pass being disabled when things happen in bfloat16 (cc @daadaada  who added bfloat16 support to Triton)

[2022-10-05 23:32] sharadmv opened #744 "Mysterious segfault when trying to compile manually built Triton IR"
I used the Triton builder (`triton.language.ir.builder`) to construct the Triton IR:
[code]

However, when I try compiling it using `compile_ttir`, I get the following segfault (stack trace from `-g` compiled triton):
[code]
The segfault happens in this block of code in `generator.cc`:
[code]

Some inspection indicates that `x` might not be in `vals_` when it should be? I'm not sure.

Mysteriously

[2022-10-05 23:44] ptillet commented on #744
Are the two IRs exactly the same or are there subtle differences? I wonder if maybe an IR context could get deleted or something

[2022-10-06 01:03] sharadmv commented on #744
I tried to make sure the context/builder are alive. Are there hidden properties in the IR object I should look for because textually they are identical.

[2022-10-06 02:15] sharadmv commented on #744
Okay! Here is a repro:
[code]

This seems to either segfault or throw this error:
[code]

[2022-10-06 04:39] daadaada commented on #734
Flash attention works with bf16.
What @pommedeterresautee says is correct. You need to replace .to(tl.float16) in the kernel with .to(tl.bfloat16)

[2022-10-06 17:43] stephen-youn opened #745 "tl.load int8 tensor with masking crash"
Hi,
triton crashes with the following code

[code]

the error is like following

[code]

[2022-10-06 17:58] Jokeren commented on #745
Can you attach the PTX code of this kernel?

[2022-10-06 23:40] Jokeren commented on #745
[code]

[2022-10-07 00:20] sanghonline commented on #745
it still fails before I get the asm from compiler.py
it crashes at the line in _compiler before generating the asm so i cannot print it

  File ".../compiler.py", line ..., in _compile
    name, asm, shared_mem = _triton.code_gen.compile_ttir(backend, module, device, num_warps, num_stages, extern_libs)

[2022-10-07 00:26] sanghonline commented on #745
here is the ptx codes when I modify the above code that it loads data without masking like following
[code]

then I can generate the ptx code like the following (but it's not the buggy one)
[code]

[2022-10-07 00:32] Jokeren commented on #745
[code]

This might the line that causes the bug. Can you copy and paste your kernel code? Including the kernel arguments. I think either `col_offsets` or `n_cols` may have problems.

[2022-10-07 00:40] sanghonline commented on #745
sure. here is the entire python file example that you can regenerate the issue.

`import torch
import triton
import triton._C.libtriton.triton as _triton
import triton.language as tl

@triton.jit
def _unpack_int4_int8(
    output_ptr, input_ptr, input_row_stride, output_row_stride, n_cols,
    even, # if 1, it's even index or value in [3:0] bits
    BLOCK_SIZE: tl.constexpr,
):
   pid = tl.program

[2022-10-07 04:03] Jokeren commented on #745
Replace
[code]
with
[code]
There shouldn't be an `other` in this case since your number of columns will always be less than (or equal to) `n_cols`. I wonder if we should have a better documentation or better error message.

In addition, `num_stages` doesn't matter in your case because the kernel doesn't have a loop.

@sanghonline

[2022-10-08 03:38] goostavz opened #748 "[Triton-MLIR] TritonGPUCombineOps failed with scf.for"
input IR to TritonGPUCombineOps pass:

[code]

Reported error:

[code]

[2022-10-09 20:06] jansel opened #756 "Triton represents `torch.bool` differently than PyTorch"
`True` in Triton is stored as 255.  `True` in PyTorch is stored as 1.  It would be nice if these are the same, because sometimes people cast bools to other types and count on the bit level representation being the same.

Repro:
[code]

Output:
[code]

[2022-10-09 21:19] ptillet commented on #50
Sorry for the delay. I won't be at the LLVM Dev meeting as it is around the time I'm traveling to France to see my family :) Happy to talk more about it via mail or on a call; feel free to shoot me an email at phil@openai.com

[2022-10-09 21:50] ngimel commented on #756
#746 is a likely fix

[2022-10-09 21:52] ptillet commented on #756
Yeah, I will merge 746. I'm reluctant to force Triton to represent `bool` always as `1` since this may not be what LLVM wants. But doing it at the frontend level in `store` to preserve torch semantics seems reasonable.

[2022-10-10 16:32] ngimel commented on #745
But even if `mask` is always True, specifying `other` shouldn't cause the error? I have the same problem, because of #737 I have to specify `other` in many loads, and it works well for all dtypes except int8 and bool.

[2022-10-11 00:38] typedfemale opened #760 "TypeError: function takes exactly 16 arguments (13 given)"
(Issue was first posted in [torchdynamo](https://github.com/pytorch/torchdynamo/issues/1577), but I'm reposting it here, since it seems like it is potentially an issue with triton instead.)

The following seems to throws `TypeError: function takes exactly 16 arguments (13 given)` no matter what I do. I've reproduced it several times now.

[code]

[2022-10-11 01:05] ptillet commented on #760
T_T I'll take a look this week. Probably still an issue with the frontend and constexprs...

[2022-10-11 01:24] jansel commented on #760
@ptillet did you add some args to the bindings in the new runtime?

Inductor calls `c_wrapper` directly, so it may be an issue on our side.
https://github.com/pytorch/torchdynamo/blob/74139e0fc688b25f664df06b041f602a0e6522ff/torchinductor/triton_ops/autotune.py#L105-L109

[2022-10-11 01:39] ptillet commented on #760
Aah this all makes sense. We added some arguments recently to allow users to pass hooks to `c_wrapper` for e.g. profiling. There are three new arguments here:
https://github.com/openai/triton/blob/master/python/triton/compiler.py#L1308 that I believe you can set to `None` if you don't use the hooks.

[2022-10-11 02:04] jansel commented on #760
cc @desertfire who I think is working on a fix in https://github.com/pytorch/torchdynamo/pull/1585

[2022-10-11 02:17] ericflo opened #761 "Windows build no longer working"
Before #703, it appears that [Windows was detected and early returned](https://github.com/openai/triton/commit/3ac929b48b820aabc54b6ddf889e7e5f88615ddf#diff-eb8b42d9346d0a5d371facf21a8bfa2d16fb49e213ae7c21f03863accebe0fcfL37-L40). In the new code, [it's going down a path](https://github.com/openai/triton/commit/3ac929b48b820aabc54b6ddf889e7e5f88615ddf#diff-eb8b42d9346d0a5d371facf21a8bfa2d16fb49e21

[2022-10-11 02:57] monellz opened #762 "Performance gap for float32 matmul between triton and cublas"
Triton behaves great in float16 matmul but I found the performance of float32 matmul between triton and cublas dose not match.

This is generated by triton/python/bench/run.py after replacing float16 to float32 for matmul.

<img width="428" alt="image" src="https://user-images.githubusercontent.com/37036994/194986341-fddf5e88-3072-453d-b838-68ef4a81ff1c.png">

I have checked the ptx triton generat

[2022-10-11 03:24] ptillet commented on #762
Hello! This is actually expected; we haven't spent much time optimizing fma-based matmuls. TF32 should work pretty well though.

[2022-10-11 03:44] monellz commented on #762
Thanks a lot for your reply. @ptillet

I am unfamiliar with tf32 so I wonder how to enable tf32 computation in triton.

The computation type of triton comes from the input tensor datatype, but there is no tf32 type for torch tensor.

[2022-10-11 03:56] Jokeren commented on #760
@jansel I believe cleaning up the cache dir (i.e., $HOME/.triton/cache) should work.

[2022-10-11 04:11] jansel commented on #760
Thanks, yeah I have noticed the need to manually wipe the cache dir lately.  Is this something we can fix in Triton?  I bet it will lead to bug reports and confused users.

[2022-10-11 04:12] ptillet commented on #760
We definitely shouldn't have to clean up the cache dir ever. This must be a bug. Can you share a bit more about when it was necessary to wipe the cache?

[2022-10-11 04:21] jansel commented on #760
We had some bug reports from an internal user that were fixed by a cache wipe.  I heard of it indirectly, so don't have a repro.  Perhaps @suo has one?

It doesn't look like the Triton version is included in the cache key with the new runtime (unless I am missing it):
https://github.com/openai/triton/blob/09cc2d454b442301e88d1df153214732bd8714d8/python/triton/compiler.py#L1200-L1214

[2022-10-11 04:27] ptillet commented on #760
Triton source code is part of the key here https://github.com/openai/triton/blob/master/python/triton/runtime/jit.py#L73-L94. (note: the runtime submodule is not included on purpose since it doesn't affect codegen). But maybe there's some missing relevant files.

[2022-10-11 04:31] comaniac opened #763 "Layer norm tutorial crashes"
I tried to run the layer norm tutorial with the nightly built triton (2.0.0.dev20221005) but got the following errors:

[code]

I looked for similar issues (e.g., remove `eviction_policy ` suggested by #589) but no luck. I'm using NVIDIA V100 GPUs with CUDA 11.7. Any idea?

Thanks.

[2022-10-11 04:33] Jokeren commented on #760
@ptillet I meant specifically for the problem in this thread, cleaning up user cache is necessary because of the code update in `compiler.py`. Since we've added new args (launch hooks) to the kernel but the args are not used in the kernel signature, the md5 keys are the same before and after the hook PR while actually we have to regenerate kernel binaries.

[2022-10-11 04:34] monellz commented on #762
I got it. Triton will automatically use tf32 when running in Ampere GPU.

[2022-10-11 04:34] #762 closed

[2022-10-11 04:35] ptillet commented on #760
But since the cache key contains a hash of the `compiler.py` source code (https://github.com/openai/triton/blob/master/python/triton/runtime/jit.py#L79-L80), then it would become stale after the code update right?

[2022-10-11 04:35] jansel commented on #760
I think `version_key()` is correct, but I don't see [CacheManager](
https://github.com/openai/triton/blob/09cc2d454b442301e88d1df153214732bd8714d8/python/triton/compiler.py#L1091) using that `version_key()`.

[2022-10-11 04:38] Jokeren commented on #760
Yeah you are right, I missed this part.

[2022-10-11 04:38] ptillet commented on #760
You are correct! The cubin cache uses it via `fn.cache_key` https://github.com/openai/triton/blob/09cc2d454b442301e88d1df153214732bd8714d8/python/triton/compiler.py#L1239 but the entry point cache doesn't. This must be the bug.

[2022-10-11 05:20] msaroufim commented on #130
I'm guessing K80 support for Google Colab. They have been providing T4 more (anecdotally), last 4 notebooks I got were all T4 so maybe just asking for a new kernel if you get a K80. T4 worked just fine with Triton and got some modest speedups on the vector add tutorial at large sizes

[2022-10-11 06:16] comaniac commented on #763
Problem solved. I found that error code 34 is cudaErrorStubLibrary, so I checked my stub library path and relink the correct one. Meanwhile, the KeyError shown in the top is indeed misleading...

[2022-10-11 06:16] #763 closed

[2022-10-11 16:54] Jokeren commented on #760
@desertfire I think the issues are parallel. The problem you are trying to fix is related with new arguments we added to the c_wrapper function; while the problem with cache is the the version key has not been adopted in `make_fn_cache_key`.

[2022-10-11 17:48] desertfire commented on #760
My fix of adding new "None" arguments does work for CI where we always do fresh build, but in a local build environment, developers could still hit the problem because of local caching.  #765 should solve that. Thanks!

[2022-10-11 20:25] ptillet commented on #760
Cool! I will close this issue then :)

[2022-10-11 20:25] #760 closed

[2022-10-11 20:26] ptillet commented on #756
Did #746  fix the issue?

[2022-10-11 20:27] ptillet commented on #748
(closing as I believe this was fixed in #749 )

[2022-10-11 20:27] #748 closed

[2022-10-11 20:30] ngimel commented on #756
Yes, we are in the process of moving triton pin and removing previous bool workarounds https://github.com/pytorch/torchdynamo/pull/1585

[2022-10-11 20:35] ptillet commented on #756
Thanks 🙏

[2022-10-11 20:35] #756 closed

[2022-10-11 20:38] Jokeren commented on #745
@ngimel Looking into this issue deeper, I believe it has to do with the invalid ptx instruction `mov.u8` in which the `u8` operand is not supported. We have a workaround here but don't understand why mov.u8 is not supported by ptx.

https://github.com/openai/triton/pull/766

[2022-10-11 21:50] sharadmv commented on #744
Yep, sounds good

[2022-10-11 23:40] typedfemale opened #768 "Internal Triton PTX Codegen Error"
Please find the repo before:
[code]

[2022-10-11 23:43] ptillet commented on #768
What is the error? Could it be possible to have a more minimal repro than that, with the source code for the Triton function?

[2022-10-11 23:46] typedfemale commented on #768
Wow, thanks for the insanely fast response. Sure, the error is:
[code]
The Triton function is (I'm going to include the whole thing, just so people can run it):
[code]

[2022-10-11 23:47] ptillet commented on #768
I think the CUDA version is too low. IIRC eviction policies are only supported in CUDA 11.4+. Triton shouldn't try to use them though when the CUDA version is too low, but it seems like it does

[2022-10-11 23:50] typedfemale commented on #768
Hm, I don't think so? Maybe it isn't using whatever conda installed (but even that is 11.6)?

[code]

[2022-10-12 00:15] typedfemale commented on #768
Can confirm it works with a newer CUDA version!

[2022-10-12 00:45] Jokeren commented on #768
Close as issue resolved

[2022-10-12 00:45] #768 closed

[2022-10-12 22:55] Jokeren commented on #737
@ngimel Can you try the master branch to see if this problem still exists?

[2022-10-12 23:00] Jokeren commented on #737
It seems to me a bit different from #745, since you said the problem appears when other is not used. Probably have to take a further look.

[2022-10-13 00:21] ooofest commented on #761
Same issue here on Windows 10 Pro with AMD CPU.

[2022-10-13 00:48] stephen-youn opened #770 "illegal memory access error is often raised when running a bunch of matmuls with different M,N and K shapes"
Hi,
I found that when I run many tests on the matmul kernel in triton, which looks like that in the tutorial, with different M, N and K values.
I got this illegal memory access error from cuda.

"RuntimeError: CUDA error: an illegal memory access was encountered"

it's time variant in a sense that sometimes it passes, sometimes it's not

so I wonder why and my suspicion is on the read that I load

[2022-10-13 01:07] ngimel commented on #737
Yes, the problem still exists on master. #745 is different, I hit #745 because I'm forced to use `other` even though I don't think I need to (other values should be masked anyway).

[2022-10-13 01:33] Jokeren commented on #770
Can you copy the code here? A single script is preferred

[2022-10-13 01:35] ptillet commented on #770
The tutorial matmul code is not designed for production. It doesn't do any bounds checking. You can use `triton.ops.matmul` for that.

[2022-10-13 08:50] Superjomn opened #771 "[triton-mlir] The TritonToTritonGPU pass lost `mask` operand in `load` op"
Hi,

I found a bug in Frontend, the TritonToTritonGPU pass will lose the `mask` operand of `tt.load` in conversion.

How to reproduce it?

1. `export MLIR_ENABLE_DUMP=1` to make the MLIR pass manager dump ir after each pass
2. Run the [vecadd test](https://github.com/openai/triton/blob/triton-mlir/python/tests/test_vecadd.py#L191)

It should dump the buggy IR:

The right IR produced just before th

[2022-10-13 09:02] leiwen83 opened #772 "convolution sample"
Hi,

Is there conv2d and transposed conv2d sample for triton?

Thx,

[2022-10-13 10:26] fdrocha opened #773 "is expressions involving dtype and libdevice function calls give incorrect result"
Here's a MRE

[code]

Output is

[code]

While `1.0` was expected for `float64`. This also happens for other `libdevice` functions, not just `exp`.

Probably related, if I replace `t_out = (t_in+1) if (after_libdevice_func.dtype) is tl.float64 else t_in` with `t_out = tl.log(after_libdevice_func)`, then when calling with `float32` function works correctly, but for `float64` compilation fails with

[2022-10-13 15:33] daadaada commented on #771
I don't think ArithCmpPattern<arith::CmpIOp, triton::gpu::CmpIOp> is the root of the issue. The TritonGPU IR is invalid when if we don't convert the original arith.cmpi. (Note that all tensors must have layouts in TritonGPU.)

Took a look at the problem, I think the input IR is ambiguous:
* `%12 = tt.load %7, %11 {cache = 1 : i32, evict = 1 : i32, isVolatile = false} : tensor<1xf32>`
Here, is `%11

[2022-10-13 15:35] daadaada commented on #771
cc @shintaro-iwasaki Do you remember what does `SameVariadicOperandSize` (https://github.com/openai/triton/blob/0ebef11c775d829fcf054fc0a6cbfc4f96cc5a53/include/triton/Dialect/Triton/IR/TritonOps.td#L69) mean?

[2022-10-13 17:34] shintaro-iwasaki commented on #771
@daadaada https://mlir.llvm.org/docs/OpDefinitions/#variadic-operands
Basically we need `SameVariadicOperandSize` (or `AttrSizedOperandSegments`) for an operand that has variadic arguments to make LLVM MLIR happy.

If the code is working as intended, the second argument should be `mask`, and if `mask` is set, `other` can be set as the third argument.

- `tt.load %x`: `%x` is a pointer
- `tt.load %

[2022-10-13 18:03] shintaro-iwasaki commented on #771
Perhaps #775 solves the issue?

[2022-10-13 19:58] Jokeren commented on #773
@fdrocha I have a fix now. Should be able to merge it by tomorrow.

I also plan to clean up the libdevice code a bit by combining some functions in another PR, for example `fdiv_rn` and `ddiv_rn`. Please let me know if it will bring any side effect to torchdynamo.

[2022-10-13 19:59] ptillet commented on #761
You may need to run git submodule update --init --recursive;

[2022-10-13 20:27] fdrocha commented on #773
Thank you @Jokeren!
Re `fdiv_rn` and `ddiv_rn`, we are not currently using those in torchdynamo, don't expect any issues.

[2022-10-13 21:12] Jokeren commented on #745
Close as resolved

[2022-10-13 21:12] #745 closed

[2022-10-13 21:43] stephen-youn commented on #770
it happens when I run hundreds of pytests with different configurations on 6 different triton matmul kernels and the error is not deterministic that sometimes it goes on and sometimes it it's not. so u can regenerate when u run multiple triton kernels with different M,N,K shapes many times.

I think the problem is with the memory read as mentioned above .
when M and N aligns with block-size in mat

[2022-10-13 21:45] ptillet commented on #770
What is the source code of the kernel you are using?

[2022-10-13 22:32] stephen-youn commented on #770
i modfied the kernels and using them. let me try to make the test as simple as possible and to share here.

[2022-10-13 22:42] ptillet commented on #770
That may be why. The bounds checking is probably incorrect. You may check https://github.com/openai/triton/blob/master/python/triton/ops/matmul.py, this should work properly for all shapes.

[2022-10-13 23:10] shintaro-iwasaki commented on #771
I believe #777 fixes the fundamental issue in `LoadOp`, which I introduced in the past. Sorry for your inconvenience and thanks for reporting an issue! I would appreciate your reviews!
...
Minor point: in the code of @Superjomn, `mask` seems `i32` in Triton-IR:
[code]
Is it intended? When it is lowered to `triton_gpu.cmpi` in `TritonGPU-IR`, the type becomes `i1`, so it seems working. I am just cu

[2022-10-13 23:44] #714 closed

[2022-10-14 00:18] Jokeren commented on #773
@fdrocha Please checkout the current master and let me know if there's still any problem.

[2022-10-14 00:43] stephen-youn commented on #770
here is the code that can regenerate the illegal cuda mem access error.
you would have to run it multiple times to generate the error
[link](https://gist.github.com/stephen-youn/fb391177565ed711cd906067a0665e26)
i am not sure which part of the kernel there causes this "bound checking" error so it would be great anyone can answer it in this thread.
thanks

[2022-10-14 00:49] stephen-youn commented on #770
it looks just running the forward in the shared code is ok but it gives the error when I run the "_check_parity" there which runs both torch matmul and triton matmul where the input are the same. how could it cause this illegal cuda mem accesss error?

[2022-10-14 01:28] Superjomn commented on #771
Good work.

Yeah, that's a little weird. According to the definition of [`arith.cmpi`](https://mlir.llvm.org/docs/Dialects/LLVM/#llvmicmp-mlirllvmicmpop),

It should produce an `i1` like the result, an `i32` is a little weird.

[2022-10-14 01:54] ptillet commented on #771
Thanks you both for looking into this! Yeah, `arith.cmpi` should return an i1, seems like a bug in the frontend

[2022-10-14 01:57] Superjomn commented on #771
Close since solved.

[2022-10-14 01:57] #771 closed

[2022-10-14 03:47] ptillet commented on #770
Yeah, the code doesn't seem safe. `load(a_ptrs)` doesn't check bounds along the `m` axis, and `load(b_ptrs)` doesn't check bounds along the `n` axis. Checking bounds in the inner loop is expensive, which is why if you look at the code I linked `offs_am` "wraps around" M and is augmented with hints to trick the compiler into vectorizing

[2022-10-14 10:03] fdrocha commented on #773
All fixed now! Thanks @Jokeren

[2022-10-14 10:03] #773 closed

[2022-10-14 10:18] qliu93 opened #779 "Conversion from Scalar to 0-d Tensor"
Hi,

related PR: https://github.com/openai/triton/pull/774

In the unit test of reduce1d: (code link: https://github.com/qliu93/triton/blob/add-reduce-conversion/python/tests/test_reduce.py#L19)

[code]

Generated Triton IR:

[code]

The problem here is that the two operands of `tt.store` are of type `ptr<f32>` and `tensor<f32>`. The pointer operand is expected to be `tensor<ptr<f32>>` I think.

M

[2022-10-14 15:59] shintaro-iwasaki commented on #779
When we encountered a similar issue, #663 fixed the frontend so that it can cast a scalar value to a 0D tensor. I believe we just need to extend the frontend to handle this case (i.e., arguments) too (please correct me if my understanding is wrong @ptillet). If no one hasn't worked on it now and this is the way to go, I am happy to fix it soon (ETA of PR: within 12 hours).

[2022-10-14 16:11] shintaro-iwasaki commented on #771
The i1 issue I mentioned doesn't seem to exist. Sorry for the false alarm.

In Triton-IR, the form of assembly is `: in_type` (no `out_type`) and thus `%11` is actually `tensor<1xi1>` (https://mlir.llvm.org/docs/Dialects/ArithOps/#arithcmpi-mlirarithcmpiop)
[code]

In TritonGPU-IR, the form of assembly is `:in_type1, in_type2 -> out_type`, so this is also correct.
[code]

[2022-10-14 18:28] ptillet commented on #772
There is no conv2d sample right now, but torch-inductor may have one? (the triton compiler doesn't do a very good job on it though -- we'll look into that in a few months)

[2022-10-14 19:44] Jokeren commented on #772
https://github.com/pytorch/torchdynamo/blob/main/torchinductor/triton_ops/conv.py
https://github.com/pytorch/torchdynamo/blob/main/torchinductor/triton_ops/conv1x1.py

[2022-10-15 01:30] Superjomn commented on #771
I see, that makes sense. Thanks for the clarification.

[2022-10-15 02:06] shintaro-iwasaki commented on #779
The implementation to fix this issue should be [something like this](https://github.com/shintaro-iwasaki/triton/pull/15), but I found it needs some semantics clarification. There are three points.

### 1. Implicit pointer broadcast for load and store

I think it is reasonable to cast scalar to a 0d-tensor like this, and this is the problem mentioned in this PR.
[code]
Does this implicit broadcast

[2022-10-15 03:09] ptillet commented on #779
Hey! A few things:

- Could we have 1D reduction return scalars instead of 0D tensors? This is what numpy does apparently. It seems that the cleanest way to solve this problem is just to completely disallow the existence of 0D tensors in the frontend. The existence of 0D tensors opens up a can of worm and forces us to look at operations one by one to figure out when 0D tensors can be implicitly co

[2022-10-15 10:18] jgong5 opened #781 "Incorrect result from first-run autotune function"
Repro:
[code]
Expected result: no assertion occurs but got failure on the second assertion.
If only one `triton.Config` is left (i.e. only one `triton.Config({'XBLOCK': 1, 'RBLOCK': 64})`), the test can pass.
Check https://github.com/pytorch/torchdynamo/issues/1670 for more background info.

[2022-10-15 10:19] jgong5 commented on #781
Triton commit: af76c989eb4799b015f8b288ccd8421558772e56

[2022-10-15 10:23] jgong5 commented on #781
cc @jansel

[2022-10-15 18:41] ptillet commented on #781
I don't think it's technically a bug. The auto-tuner will just run all the configs one by one and see which one is fastest. In this case, you have:
[code]
so when the kernel runs twice, the first call modifies `in_out_ptr0` which leads to the wrong value being loaded in the second call.

The same issue arised when doing `atomic_add` in a matmul with SPLIT_K>1, and we fixed the issue by adding a ho

[2022-10-15 19:11] jansel commented on #781
Ah I think you are correct.  The autotuner runs the kernel multiple times, so for in-place kernels the autotuner causes incorrect because the first run clobbers the input data.

Note TorchInductor has a subclass of the autotuner, so for this case we would need to modify
https://github.com/pytorch/torchdynamo/blob/6380959be21851bfda99424392cc08fda29d073d/torchinductor/triton_ops/autotune.py#L145
to

[2022-10-16 01:51] jgong5 commented on #781
@ptillet Thanks for the insights. Appreciate if you can update the doc about the limitation and the recommendation to mitigate the problem before you provide a complete solution. Memory-related issues are hard to troubleshoot. If Triton can report some warnings via some debugging flag, that would make user's life easier.

[2022-10-16 17:39] Thomas-MMJ commented on #761
For those who had it working on windows previously - could you share what LLVM version you are using and any other knowledge it takes to get it building?

[2022-10-17 02:33] goostavz opened #783 "TritonGPU combine pass hang on gemm with pipelining on"
How to reproduce:

The problem can either be reproduced with the following IR:

[code]

Or it can as well be reproduced with the following scripts with two additional steps:

* static_loop_unrolling in the frontend must be manually disabled by forcing is_static to be False in https://github.com/openai/triton/blob/5898352f97fdb236a6809d833688f6378b133842/python/triton/compiler.py#L561
* cherry-pick

[2022-10-17 07:07] ptillet commented on #783
Closing, since resolved in #784

[2022-10-17 07:07] #783 closed

[2022-10-17 14:35] danthe3rd opened #787 "`Segmentation Fault` in `triton::ir::builder::insert<triton::ir::instruction>`"
Hi,

I'm trying to build a kernel with triton, but I'm getting a Segmentation Fault. Is there any workaround?
I'm on the [latest master](https://github.com/openai/triton/commit/db3aa1d1fb2bb536752a71d9e0f03cf6a86ddf65) at the time.

cc @fmassa

Thanks :)

<details>
<summary>Repro code</summary>

[code]
</details>

<details>
<summary>GDB stacktrace</summary>

[code]
</details>

<details>
<summary>S

[2022-10-17 15:34] shintaro-iwasaki commented on #779
Sorry for the late reply.
1. Yeah, I think returning a scalar for 1D reduction should reduce our work. Does this mean 0-D tensor is forbidden in Triton? For example:
   - `tl.zeros([], dtype=tl.float32)` will be disallowed. Note now it returns a 0-D tensor in Triton-MLIR.
   - PyTorch accepts a 0-D tensor.
     - It depends on the memory layout, but I believe PyTorch's 0-D tensor is different from

[2022-10-17 16:49] Jokeren commented on #737
Hi @ngimel, I have a question about the following two lines:

Is there any false in `xmask & tmp25`? If so, my understanding is that the values loaded at false locations are `undefined`. In other words, the random value that stored on the corresponding registers.

[2022-10-17 16:53] Jokeren commented on #737
Specifying `other = 0` should also yield the expected results.

[2022-10-17 17:22] Jokeren commented on #787
Yeah, I think it's a bug in the pipeline transformation pass, which I'm not familiar with. @daadaada Can you please check if it can be quickly resolved? FYI, it doesn't seem to be a problem for triton-mlir after testing with a loop that consists of two dots.

[2022-10-17 17:34] ngimel commented on #737
Yeah it's possible that `undefined` values are loaded, but they are masked out in the following lines so it shouldn't matter whether there's an `other` specified or not, that's what I demonstrate by specifying `other=float('nan')` and results aren't nan.
Specifying any `other` yields expected results, again, because the particular value doesn't matter, it's masked out, but for the same reason not

[2022-10-17 17:43] Jokeren commented on #737
The mask doesn't propagate across multiple instructions IIUIC. @ptillet Can you please confirm?

So if you want the above code to render the correct results without using other, you can write it the following way:

`tmp35 = tl.where(tmp33, tmp34.to(tl.int1) & (xmask & tmp33), 0.0)`

[2022-10-17 17:52] Jokeren commented on #737
[Sorry got my comment accidentally deleted]

In the triton programming model, I think the mask doesn't propagate across multiple instructions. @ptillet can you please confirm?

So for this instruction: `tl.where(tmp33, tmp34, 0.0)`, if `tmp33[0] == 1`, it will select `tmp34[0]` which could be an undefined value.

[2022-10-17 18:10] ngimel commented on #737
`xmask` is always True in this case (I launch just 1 program_id, so maximum `xindex` is 1023, `xnumel` is much larger). So the same mask, `tmp33` is used for read and for `tl.where`, so `tmp34` is never used in places where it's undefined (think of it this way - when I set `other=float('nan')` if that value was ever used later it would corrupt the output, but it doesn't).

[2022-10-17 18:29] Jokeren commented on #737
That's interesting, the problem went away by removing xmask.

`tmp26 = tl.load(in_ptr0 + (-7) + x4 + tl.zeros([XBLOCK], tl.int32), tmp25).to(tl.float32)`
`tmp34 = tl.load(in_ptr0 + (-1) + x4 + tl.zeros([XBLOCK], tl.int32), tmp33).to(tl.float32)`
`tmp38 = tl.load(in_ptr0 + x4 + tl.zeros([XBLOCK], tl.int32), tmp37).to(tl.float32)`

[2022-10-17 18:58] ngimel commented on #737
Yeah I noticed that removing `xmask` changes results (I don't remember if it always fixed the problem), but that was very surprising too, as `xmask` is always true here.

[2022-10-17 19:27] ptillet commented on #737
Hmmm 🤔 I think there are multiple options:
- `xmask` isn't always true for some reason
- removing xmask changes vectorization behavior. This kernel is fairly simple so I wouldn't really expect bugs there, but looking at the PTX wouldn't hurt :p
- maybe a weird issue with &

[2022-10-17 23:40] shintaro-iwasaki commented on #779
#788 should fix the issue based on a few things @ptillet mentioned except forbidding 0d-tensor creation in Triton-IR; I haven't checked if MLIR exposes such an interface.

[2022-10-18 00:33] Jokeren commented on #737
We found there's an issue with the generated ptx code. Register `%rs9` is not used after it's defined. However, the problem doesn't exist in the generated llvm IR. Thus, we suspected this might be an issue of the PTX code gen logic in llvm. Since triton uses a relatively old llvm release (11.0), I tried to update llvm to recent releases but didn't get the problem solved with llvm-12.0 or llvm-13.0

[2022-10-18 05:36] qliu93 commented on #779
@shintaro-iwasaki Thanks for your reply and your work! I will update my `ReduceOpConversion` implementation according to your PR. Thanks!

[2022-10-21 10:46] giorgio-arena commented on #743
Hi! Are there any new developments about this issue? Thanks

[2022-10-21 22:21] stephen-youn opened #793 "performance degradation with the row-wise element-wise vector multiplication and the column-wise v-mul"
Hi,
Here I report an issue with a high performance degradation when multiply a vector with 2d-tensor in column-wise (254 tops measured) than we do it in row-wise (419 tops measured).
it is int8 matmul triton code shown below in a100.
165Tops seems too much and it's not expected. is it?

[code]

[code]

[2022-10-22 04:52] #779 closed

[2022-10-23 22:35] manbearian opened #795 "Issue with PyBind11 + clang + C++17"
When building Triton with clang and C++17 enabled i'm hitting a bug in pybind11.

It's very easy to work around locally so this is not blocking

It could be fixed by either updating the local copy of pybind11 or changing to use an installed version instead.

The issue is described here: https://github.com/pybind/pybind11/issues/1818
That thread also has the workaround: https://github.com/pybind/py

[2022-10-24 00:53] ptillet commented on #795
Yep, this was fixed in the master branch in https://github.com/openai/triton/pull/703 but hasn't been cherry-picked into `triton-mlir` yet. I'll do that.

[2022-10-24 01:53] ptillet commented on #795
#797 Should have fixed this

[2022-10-26 00:02] ngimel opened #802 "wrong results when argmax and masking is used and num_warps=1"
Repro below. The same kernel is called with AOT and jit compilation, and AOT produces wrong result. The mask, instead of having a single True element (it's computed as    ` _tmp1_index_mask = (tl.reshape(tl.arange(0, RBLOCK),
    	[1, RBLOCK]) == _tmp1_index_reduce)` where `_tmp1_index_reduce` is a single-element triton tensor), has every other element as `True`.
The error happens when all element

[2022-10-27 14:54] Baquara opened #808 "Install error: ‘size_t’ was not declared in this scope; did you mean ‘std::size_t’?"
Greetings,

I am performing a fresh install on triton, using PyPip.

`pip install triton`

But the installation ultimately fails:

[code]

Complete log:

[code]

[2022-10-27 16:10] ptillet commented on #808
It seems like you're trying to install a 2-3 years old Triton package from pypi. The version should be 1.0. But even that is old -- installing the pre-release is recommended

[2022-10-27 16:46] Baquara commented on #808
I even tried to install the nightly using:

`pip install -U --pre triton`

But I had the same problem. So I believe it's unrelated to the version

[2022-10-27 16:48] ptillet commented on #808
It has to be related to the version, because wheels since 1.x are binary and don't pre-compile anything. My guess is that you have some unsatisfied dependencies and that make pip install the old wheel. Maybe Python 2?

[2022-10-27 16:57] ptillet commented on #808
This is why, we don't have wheels for 3.10 yet, you will have to build from source for now. I have deleted all the source releases so that shouldn't happen again. I will update the cibuildwheel to build 3.10 wheels.

[2022-10-28 04:29] ngimel opened #813 "libdevice functions produce compilation error when arguments are scalars"
`tl.sqrt` works, `tl.libdevice.pow` produces `map::at` error, or
[code]
depending on minor differences in the kernel
Repro:
[code]

[2022-10-28 04:36] Jokeren commented on #813
I'll take a look tomorrow. Seems urgent

[2022-10-28 18:56] Jokeren commented on #813
@ngimel It's not a libdevice specific problem.

Hi @ptillet, I think it's yet another 0-d tensor vs scalar problem. I want to confirm with you if we are allowed to use a size-1 tensor in the master branch? And can I broadcast the size-1 tensor to any valid shape?

My workaround is to return a scalar if every input to the elementwise function is a scalar.

[2022-10-28 19:07] ngimel commented on #813
But `tl.sqrt` (and other `tl` ops) works, so it's at least somewhat extern op specific?

[2022-10-28 19:15] Jokeren commented on #813
Agree.

`tl.sqrt` just returns the same type as the input type, so it doesn't have to be worried about scalar vs tensor.
Other binary ops, such as `tl.add` will return a scalar if all inputs are scalar (doesn't perform any broadcast).

[2022-10-28 21:09] ptillet commented on #813
Hmm is it an issue with the extern_elementwise LLVM codegen not handling scalars properly? I having the instruction return a scalar when all inputs are scalar seems perfectly fine to me. In fact it seems like the right behavior rather than a workaround; all input to the instruction should have the same type

[2022-10-28 21:38] Jokeren commented on #813
I see. Thanks for the confirmation. Please check the PR that fix the issue.

https://github.com/openai/triton/pull/816

@ngimel Can you please also try and see if this PR solves your problem and doesn't introduce any side effect?

[2022-10-29 07:47] tridao commented on #743
Agreed, I'm observing the same thing where bf16 matmul is slower than fp16 matmul.

[2022-10-29 08:06] tridao commented on #642
I'm wondering the same thing, @pommedeterresautee could you explain?

[2022-10-29 16:59] ptillet commented on #642
These lines are used to force the compiler to vectorize loads/stores in A, by indicating that the first element of rm (resp. rn) is a multiple of BLOCK_M, and that the range is a block of BLOCK_M contiguous elements. Note that the latter condition is not true for the last block because of the modulo operaiton, but it doesn't matter because these out of bounds elements are not written back (since t

[2022-10-29 17:00] ptillet commented on #743
We haven't had time to look into it as we're very focused on the rewrite

[2022-10-29 22:36] conceptofmind commented on #122
@ptillet I seem to be running into this issue again as well.

[code]

[2022-10-30 00:52] ptillet commented on #122
Can you retry it now? The new pre-releases wheels include Python 3.10 and 3.11

[2022-10-30 02:25] conceptofmind commented on #122
@ptillet

It works now.

Thank you very much!

Best,

Enrico

[2022-10-31 03:21] qliu93 opened #824 "Unnecessary convert layouts before and after tt.reduce"
Hi,

**Initial Triton IR:**

[code]

**Triton IR before TritonGPUToLLVMPass:**

[code]

I think the `triton_gpu.convert_layout` %12 and %14 are not necessary and cause extra shared memory IO. Any suggestions on how we can fix this?

Thanks,
Qingyi

[2022-10-31 18:50] makslevental opened #828 "`triton-mlir` LLVM commit hash"
qq: which LLVM commit hash is the `triton-mlir` branch supposed to be built against?

[2022-10-31 20:11] makslevental commented on #828
closing as the correct thing to do is use `setup.py`, which lists [llvm-14.0.0-329fda39c507](https://github.com/openai/triton/blob/triton-mlir/python/setup.py#L57) as the correct version

[2022-10-31 20:11] #828 closed

[2022-11-02 17:00] ngimel commented on #813
Thanks, it does!

[2022-11-02 17:00] #813 closed

[2022-11-02 17:05] ngimel opened #832 "Index computations are done in int32 even for large tensors, and overflow causing IMA"
Repro:
[code]
Number of elements in the tensor is more than INT_MAX, but on a 40GB card it's far from out of memory.

[2022-11-02 18:41] ngimel commented on #832
I replaced `12544` literal with kernel arg, to make generated code simpler, and got the following ptx
[code]
`div.s32` is wrong, because dividend doesn't fit into s32, it can fit only in u32.

[2022-11-03 04:45] ptillet commented on #832
Just to clarify, this is the current expected semantics of Triton, which behaves like C for which the following also overflows:
[code]
This is however definitely surprising behavior for a python-based DSL, but we haven't found a good way to address this yet. If `mul` returns int64, then everything becomes extremely slow. I see two ways of dealing with this issue, both of which seem so cumbersome I

[2022-11-03 05:24] ngimel commented on #832
`int64_t` indexing in cuda kernels is slower, but not dramatically so, ~15% penalty I'd say. Also, there are no multiplications here, only divisions, and that works in c++:
[code]
`xnumel` is correctly annotated as u32, but division result isn't, and I don't think it's expected even in C.
In any case, someone will try gigantic tensor with more than even uint_max number of elements and we have to h

[2022-11-03 05:27] ptillet commented on #832
I think it can be much more than that. Since int64 registers take up 2 registers, this could cause register spilling and cause massive performance drop for e.g. matmul.

Yes, this part is a bug.

The way we've (temporarily) dealt with this problem at OpenAI has been to check on the host when the dimensions are too big, and to propagate this information via a constexpr, but this sucks so we definit

[2022-11-03 05:47] ngimel commented on #832
Even when I annotate the arg as i64, I'm still getting IMA:
[code]
Can we at make it so that explicitly annotated args correctly propagate dtype for subsequent computations? Yeah I agree for matmuls it can be catastrophic, but for most kernels inductor generates it's not a big issue, and it's better to be slower than to error out completely.

[2022-11-03 05:50] ptillet commented on #832
Yep, I will fix the annotation issue. Thanks for the report!

[2022-11-03 17:23] ptillet commented on #832
Trying to repro I am getting `ImportError: cannot import name 'TileHint' from 'torch._inductor.ir' (/home/phil/.venv/openai/lib/python3.9/site-packages/torch/_inductor/ir.py)`. Do I need an even more recent version than the nightly torch wheel?

[2022-11-03 18:28] ngimel commented on #832
Ugh sorry, yeah, you can just remove `import TileHint` line.

[2022-11-04 17:02] OlivierVillequey opened #846 "install on windows"
Hi, is it normal that pip doesn't find any available release of triton on windows ?
pip index versions triton
ERROR: No matching distribution found for triton

I saw some similar issues in the past but it looks like u committed some fixes and I somehow don't find a solution.
Is it impossible to use this lib on windows machine ?

[2022-11-08 03:17] Jack47 opened #855 "Add readme for tutorials directory?"
Hi triton is awesome, I'm reading paper and introductions, found it inspiring for ml system. Layernorm is widely used in CV, it's second most time consuming operators in CV models(1th is conv). I found there are fused layer norm under [tutorials](https://github.com/openai/triton/tree/master/python/tutorials). May you guys add readme for this directory? such as usage, benchmarks and  theory. I beli

[2022-11-08 03:31] Jack47 commented on #855
oh, there are [docs on triton websit](https://triton-lang.org/master/getting-started/tutorials/05-layer-norm.html)

[2022-11-08 03:31] #855 closed

[2022-11-08 18:25] stephen-youn opened #860 "shift operation on 2d tensor in dot-product loop does not work"
Hi,
I tried the following shift op inside of the dot-product loop but it does not work in triton.
it goes through the compilation but  the results it gives is wrong

[code]

[2022-11-08 19:18] ptillet commented on #860
Thanks for the report. This is a bit surprising. We are planning to deprecate the current backend soon, so if that's ok we will revisit this issue after the `triton-mlir` merge happens.

[2022-11-08 19:19] stephen-youn commented on #860
update: if i cast the dot product result into int64 and re-cast it back to int32, it seems working but i will double check ...
[code]

[2022-11-08 21:22] sharadmv opened #861 "How important is `nvptx-short-ptr`?"
Triton sets the `nvptx-short-ptr` llvm option here: https://github.com/openai/triton/blob/0d7e7532279e45672555e344646f5c19c3972331/lib/driver/llvm.cc#L170-L172. I'm not entirely certain what it does, but when other compilers are using the same (shared) LLVM context, setting this global option can cause crashes elsewhere. Is it possible to only set this option locally and in a thread-safe way? Alte

[2022-11-08 21:49] ptillet commented on #861
It was very important when I first started Triton a few years ago, as it was the only way to force nvptx to use 32-bit registers for shared memory pointers. I imagine it's probably still the case. Not sure why it would cause crash though, maybe this option isn't exposed on recent LLVM versions -- in which case I assume it is always set.

[2022-11-09 15:41] yjk21 commented on #743
The main difference in the generated ptx seems to be a bunch of conversions showing up for the bfloat kernel converting FP32 => FP16 => FP32 => BF16, so also risky for numerics.
I think it shows up already in the ttir, so presumably an easy fix in the frontend?

![image](https://user-images.githubusercontent.com/6737542/200873637-08766f00-1fb6-4c0f-a8e1-d57d2d759e35.png)

[2022-11-09 16:21] yjk21 commented on #743
Another difference is a lot of explicit packing, e.g. for half, the PTX shows 32-bit shared loads in the epilogue, that can directly be passed to 128bit global stores, whereas for bfloat, the shared loads are 16-bit, followed by this packing sequence:

![image](https://user-images.githubusercontent.com/6737542/200883987-040cf22a-a8ed-4ff9-a47f-866edbb8ca61.png)

[2022-11-10 02:41] chenqy4933 opened #866 "Support OpenCL backend"
Triton helps the CUDA user a lot and the OpenCL program is similar to CUDA, will Triton support the OpenCL backend? If this feature is completed, all mobile developers will get the ability to write OpenCL code easily.

[2022-11-10 10:26] MayDomine opened #870 "Is there any chance that triton can provide a Pre-compile decorator api？"
Here is the thing , I want to compile the code on a platform installed with CUDA 11.8 and call the binary on another machine installed with CUDA 11.3.
Becasue the @jit function needs a CUDA version>=11.4 , and I compile the code with CUDA11.4 .In order to run it on a low cuda version, I have to modified the way fn.cache_key caluated and make it possible to use the cache I compiled before.The proce

[2022-11-10 18:43] Jokeren commented on #866
The current plan is SYCL + SPIRV.

https://github.com/openai/triton/discussions/811

[2022-11-10 19:37] wanjunling168 opened #871 "Is there any plan to upgrade to LLVM 14?"
BTW, I managed to compile triton on Windows, with `LLVM==14.0.6`, `MSVC 14.29.30133`, `torch==1.12.1`, `CUDA==11.6`, `CUDNN==8.4.1.50` (these libraries are all installed by conda)

with following patches:
[code]

[2022-11-10 19:41] wanjunling168 commented on #846
bro, you can check my method to compile on windows:
https://github.com/openai/triton/issues/871

[2022-11-10 21:08] sharadmv commented on #861
Thanks for the quick response. The crashes are odd and probably on our end, but as a short term fix, we've turned off the flag.

[2022-11-10 21:08] #861 closed

[2022-11-11 05:26] Jokeren commented on #871
Triton-MLIR uses LLVM 14. The master branch is now barely maintained.

[2022-11-11 19:41] wanjunling168 commented on #871
OK, thanks for your reply @Jokeren

[2022-11-16 16:43] fernand opened #882 "CUDA errors on kernels after block sparse Triton ops"
I'm experimenting with block sparse `Linear` layers.

On `triton==2.0.0.dev20221105`, the following causes `RuntimeError: CUDA error: CUBLAS_STATUS_NOT_INITIALIZED when calling `cublasCreate(handle)`` when running `F.linear` on the last Pytorch Linear layer.
[code]

When part of a bigger training script (full Transformer), I get a different error on the last linear projection layer: `CUDA error: C

[2022-11-17 01:41] crutcher opened #884 "[RFC] Unfungle Triton Import Graph?"
triton module imports are currently very circular; many modules import other modules while they are only partially initialized. The behavior of `core.py`, `jit.py`, and `semantic.py` are a particular example.

With some incremental work, I could unroll these modules into a strictly ordered graph; it could even be done without changing the appearance of the public API, introducing a graph of increm

[2022-11-17 07:06] ptillet commented on #884
Yes I support that! I think it should be done inside of the `triton-mlir` branch though (unless it happens after the merge)

[2022-11-17 17:52] crutcher commented on #884
I've put some time into trying to take a stab at this on `main`; and the approach I've been pursuing is to unroll the entire lib into one very long module; and trying to get that module in a clean declaration order.

semantically, due to the construction order of python module imports, import graphs are forced to be equivalent to some ordered import stack; so as a general strategy, this is a good

[2022-11-17 18:00] crutcher commented on #884
@ptillet @Jokeren re: the discussion about the utility of `mypy`

I, personally, am a strong proponent of full-mypy on all python projects.

It is a pain to move a project that isn't mypy-clean to a one that is; because complex codebases which weren't using mypy tend to use construction orders and type unions which don't have clean types, and work needs to be done to massage a codebase into compli

[2022-11-17 18:46] ptillet commented on #884
I agree with all of that! Beyond type annotations, `mypy` will force us to follow good coding practices. This will also make code reviews easier.

[2022-11-17 20:15] Jokeren commented on #884
Sounds good

[2022-11-17 22:49] crutcher commented on #884
I've got a flattend version up, as a first pass of the above strategy.

[2022-11-19 02:24] ngimel opened #891 "`atomic_add` for fp16 non-deterministically segfaults during compilation"
Repro:
[code]
produces (non-deterministically)
[code]
When compilation succeeds, PTX looks ok
[code]
cc @Jokeren

[2022-11-19 02:36] Jokeren commented on #891
`non-deterministic` means sometimes you won't see this error? Like randomly?

[2022-11-19 02:38] ngimel commented on #891
Yeah, if I run the above script, it'll fail half of the time approximately (I clean triton cache between invocations, so that each time I try to compile it and not hit in cache), and at other times will succeed and produce reasonably looking ptx.

[2022-11-19 03:01] #871 closed

[2022-11-19 08:36] crutcher commented on #884
I've got a re-rolled version up for discussion:
https://github.com/openai/triton/pull/887

This is still not based upon the MLIR branch, but it sorts through the import order and demonstrates that mypy typing is tractable

[2022-11-19 09:12] ptillet commented on #884
Awesome! Thank you so much for this :) As I said in the PR, we should probably aim to do it first thing after triton-mlir is merged, but I'm super excited!

[2022-11-19 11:26] tiendung opened #893 "[help] how to matmul in float32?"
I found that https://github.com/openai/triton/blob/master/python/tutorials/03-matrix-multiplication.py do matmul in float16 but don't know how to modifiy to make it do float32 matmul. Google around don't help.

[2022-11-21 23:23] crutcher commented on #884
Here's the core spine of the order; I've omitted the `__all__` statements, but they're important to get tools which import these libraries to perform well.

I did a lot trying to trackdown / squash mypy errors. I came to a few conclusions:

 * making JITFunction and constexpr generic was actually pretty easy.
 * clean mypy typing of the entire library is a reasonable goal. at present there are 28

[2022-11-22 00:16] Jack47 opened #900 "Implement BatchNorm in triton"
batchnorm(bn) is very popular in CV, almost every conv op will be followed by bn. I see layernorm in triton achieved best HBM bandwidth. So I'm curious about implement batchnorm in triton.

My questions:
1. is there any chance that triton implemented bn faster than pytorch?
2. may you guys give more details on layernorm's triton implementation? about why it achieved so amazing bandwidth

[2022-11-22 04:47] Jokeren commented on #893
Just allocate float32 tensors (the default data type).
Then change `c = accumulator.to(tl.float16)` to `c = accumulator`

[2022-11-22 07:08] tiendung commented on #893
Thank you! It works like a charm.

[2022-11-22 07:08] #893 closed

[2022-11-22 07:15] ptillet commented on #900
For layer norm, you reduce along the contiguous dimension, so it's possible to fuse everything. For batch norm, things get a little tricky. Have never looked into it, so I can't tell if it's possible to beat pytorch. But it should be possible to at least match it.

[2022-11-22 08:12] ptillet commented on #891
This is definitely odd, as the kernel looks fairly innocuous.  Is this something torchinductor runs into?  This seems like a big deal that can't wait for the triton-mlir merge, is that right?

(PS: Sorry for the delay, I'm in vacation in France)

[2022-11-22 10:36] Jack47 commented on #900
ok, thanks! I will look at it, will update here if I have some conclusion.

[2022-11-22 17:19] ngimel commented on #891
Yes, we run into this error on a lot of benchmarks, so would appreciate if you could look into it before triton-mlir merge! And yes, the kernel looks pretty benign, some indirect indexing and atomic add. I played around with dtypes (int32/int64 for indicrect indices, float32/float16 for tmp1), but nothing seemed to matter except the dtype of atomicAdd base, out_ptr0.

[2022-11-22 17:20] ngimel commented on #891
Or if there's some workaround we can use to not generate patterns that triton doesn't like, that'll be fine, we are pretty flexible about the code we can codegen. Have a great vacation!

[2022-11-22 23:31] crutcher opened #905 "Development / Setup Instructions for the MLIR branch?"
I've started to look at re-rolling the import reorder / mypy (described in the linked issues) on the mlir branch, and I've run into a lack of information on how to setup the dev environment successfully for mlir development.

Can a development setup section be added to the `README.md` in that branch?

What is the right way to get to a working dev enviroment in the `triton-mlir` branch?

Unfungle w

[2022-11-23 04:52] Jokeren commented on #905
Build instructions are the same as the master branch
[code]

[2022-11-24 02:08] wang-y-z commented on #113
Hi @ptillet , I was wondering will tirton support CSR/COO format spmm(or other sparse kernel) cuda kernel in the future without TensorCore, thx.

[2022-11-24 03:51] jansel opened #911 "IMA from matmul with hardcoded sizes"
Repro:
[code]

Output:
[code]

[2022-11-24 03:55] jansel commented on #911
Somewhat annoyingly, after hitting this error -- it seems like CUDA is stuck in some bad state.   Every single PyTorch op starts returning an IMA.

[2022-11-24 23:31] #905 closed

[2022-11-27 00:40] jansel commented on #911
I think this was actually my bug, there was incorrect codegen for the output stride.

[2022-11-27 00:40] #911 closed

[2022-11-28 02:59] void-main opened #919 "Performance gap between triton and flash attn"
I'm using the sample code from [tutorial 6](https://triton-lang.org/master/getting-started/tutorials/06-fused-attention.html) and measure the performance on A100, here's the bwd latency graph (ran twice, the results look similar):

![CleanShot 2022-11-28 at 10 58 44](https://user-images.githubusercontent.com/552990/204182064-4757d55d-8928-4633-998b-28a26537497f.png)

The latency gap is huge, is th

[2022-11-28 11:01] ptillet commented on #919
No, this is not expected. In fact I have never seen the triton bwd pass be more than 10% slower than the flash attention CUDA. We will look into it, probably after the `triton-mlir` merge.

[2022-11-28 18:13] nikonyrh commented on #625
Just a FYI for anyone else having this problem, I got my set-up working by running `pip install triton==2.0.0.dev20221120`.

[2022-11-28 19:33] tridao commented on #919
@void-main Are you synchronizing (torch.cuda.synchronize) when you measure the time? The measurement for FlashAttention CUDA looks like it barely changes when you increase the sequence length, that seems wrong.

[2022-11-29 07:38] void-main commented on #919
I'm just running the exact code sample from the tutorial:

[code]

[2022-11-29 07:39] void-main commented on #919
With triton version:
triton             2.0.0.dev20221120

[2022-11-30 15:19] Lucy7298 opened #932 "Assertion '__n < this->size()' failed"
I am trying to run the test_op pytest on the fused attention tutorial (https://triton-lang.org/master/getting-started/tutorials/06-fused-attention.html) on a A100 with CUDA 11.4. The error is:

`std::vector::reference std::vector<triton::codegen::analysis::align::cst_info>::operator[](std::vector::size_type) [_Tp = triton::codegen::analysis::align::cst_info, _Alloc = std::allocator<triton::codegen

[2022-11-30 20:41] murphymatt commented on #932
hmm, curious!